.jumbotron{
	background-color: transparent;
}

.jumbotron h1{
	font-weight:500;
	font-size:54px;
	margin:0px;
}

.title-md{
	font-size:26px;
}

#reset-password-form{
	display: block;
	padding-left:10px;
	padding-right:10px;
	margin-left:200px;
	margin-top:20px;
}

#main-page-picture{
	width:100%;
	overflow-x: hidden;
}

#main-text-area{
	position:absolute;
	top:80px;
	left:80px;
}

#main-text-area h1{
	font-size:50px;
	font-weight:bold;	
}

#main-search-area{
	position:absolute;
	top:360px;
	width:100%
}
#main-search-input{
	margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#main-detail-text{
	color:#eee;
}



#canada-map{
	padding:40px;
	display:inline;	
}

.sold {/** text **/
	font: bold Georgia, "Times New Roman", Times, serif;
	color: white;
	background: red;
	text-align:center;
	position: absolute;
	width:60px;
	height:18px;
	padding-top:9px;
	top: 10%; 
	left: 1%;
	/**note: CSS3 TRANSFORM: ROTATE DOESN'T WORK IN ALL BROWSERS YET**/ 
	-webkit-transform: rotate(-30deg); /**safari, chrome**/
	-moz-transform: rotate(-30deg); /**firefox**/
	transform: rotate(-30deg); /**other browsers**/
}

/* used for contact page map */
#contact-map-canvas
{
	width : 960px;
	height: 320px;
}

#map-view-canvas
{
	width : 824px;
	height: 600px;
	/*margin-top: 15px;*/
}
.contact{
	margin-left:0px;
	padding-left:0px;
}
.bootstrap-upload{
	/*height:*/
}

/* bootstrap-upload start */
.bootstrap-upload li{
	list-style:None;
	height:150px;
	margin-right:5px;
	float:left;
}

.bootstrap-upload img{
	display:block;
	width:100px;
	height:100px;
	border:1px solid black;
}

/* bootstrap-upload end */

/* For displaying auto complete scroll bar*/
/*
.dropdown-menu {
  max-height: 256px;
  overflow-y: auto;
}
*/


.z-list{
	list-style-type:none;
	padding-left:0px;
	margin-top:10px;
}

.z-list li{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:1px;
	border-bottom:1px solid rgb(228,228,228);
}

.z-list li.selected{
	background-color:#e2e4e4;
}

.z-col{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	float:left;
}

.z-list .time-col{
	padding-left:5px;
	padding-right:5px;
	font-size:12px;
}

.z-list img{
	width:64px;
	height:56px;
	margin-top:0px;
}

.z-list .content-col{
	width:480px;
	margin-left:10px;
	margin-right:10px;
	float:left;
}

.z-list .date-col{
	width:90px;
	margin-top:10px;
	float:left;
	font-size:14px;
}

.z-list .info-col{
	width:146px;
}

.z-list .price-col{
	width:64px;
	margin-top:10px;
	margin-left:0px;
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.city-label{
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Ubuntu, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 28px;
	font-weight: 590;
	color: rgb(51, 51, 51);
	margin-bottom:5px;
	padding-left:0px;
}


.viewer-col{
	width:850px;
	margin-left:10px;
	margin-right:0px;
	float:left;
}
.detail-address{
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Ubuntu, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size:18px;
	/*font-weight: bold;*/
	color: rgb(51, 51, 51);
	margin-bottom:10px;
	padding-left:0px;
}

.title-block{
	background-color:rgb(228,228,228);
	font-size:16px;
	font-weight:bold;
	height:40px;
	padding-top:10px;
	margin-bottom:10px;
}

.m-block{
	margin-left:0px;
	margin-bottom:20px;
	padding-bottom:15px;
	padding-left:0px;
	padding-right:0px;
	color:rgb(64,64,64);
	border-bottom:1px solid rgb(228,228,228);
}

.r-block{
	float:left;
	margin-left:15px;
	margin-right:0px;
	margin-bottom:20px;
	padding-bottom:15px;
	width:320px;
	color:rgb(64,64,64);
	border-bottom:1px solid rgb(228,228,228);
}

.city-btn{
	margin-right:10px;
}
.city-btn-selected{
	background-clip: border-box;
	background-color: rgb(66, 139, 202);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-sizing: border-box;
}

.r-label{
	padding-left:0px;
	padding-right:0px;
}



.item-list{
	min-height:256px;
	border-top:1px solid #eee;
}

.item-list-row{
	padding-left:0px;
}

.or-seperator{
	margin-top:30px;
	margin-left:50px;
	margin-right:110px;
	width: 1px;
	height: 320px;
	float: left;
	background-color: #d1d1d1;
}

.or-icon{
	width: 50px;
	height: 50px;
	font-size: 15px;
	font-weight: bolder;
	line-height: 51px;
	color: #4d4d4d;
	text-align: center;
	position: relative;
	top: 125px;
	left: -25px;
	background-color: #eee;
	background:  no-repeat /9;
	border-radius: 25px;
}

/*for login and signup page*/
.content-box{
	height:400px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border:1px solid black;	
}

.wizard-pager{
	margin-top:15px;
}

.wizard-content{
	min-height:380px;
	max-height:480px;
	margin-left:15px;
}

.list-group li.selected{
	background-color:#DADDEC;
}

.right-menus{
	padding-left:0px;
	padding-right:0px;
}

.dual-list{
	border-color:rgb(204, 204, 204);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	height: 160px;
	max-height: 160px;
    overflow-y:scroll;
    padding-left:3px;
    padding-right:3px; 
}

.dual-list li{
	list-style-type:none;
	line-height:18px;
	border-bottom-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	margin-bottom:1px;
}

.dual-list li.selected{
	background-color:rgb(218, 221, 236);
}

.dual-list-btn-area{
	margin-top:20px;
}

.dual-list-btn-area .row{
	margin-top:5px;
}

.single-list{
	margin-left:0px;
	padding-left:0px;
	padding-right:0px;	
}

.dual-chevron{
	margin-right:-10px;
}


.inline-menu{
	font-size:12px;
}


.detail-title{
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Ubuntu, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size:18px;
	font-weight: bold;
	color:rgb(32, 80, 128);
}

.detail-price{
	font-size:25px;
	font-weight: bold;
	color:rgb(32, 80, 128);
}

.tab-page{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(248, 248, 248);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(51, 51, 51);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	
	margin-bottom:10px;
}

ul.nav-tabs li.active a{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(248, 248, 248);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
}

#mycanvas{
	float:left;
	width:512px;
	margin-left:16px;
	height:384px;
	border: 1px solid black;
}

.multiple-upload .right-side{
	float:left;
	width:240px;
	margin-left:20px;
}

div.radio{
	font-size:14px;
	line-height: 20px;
	margin-top:6px;
	margin-bottom:6px;
}





.narrow-list .content-col{
	width:196px;
	padding-left:0px;
	margin-left:0px;
	margin-right:0px;
}

.narrow-list .title-col{
	font-size:14px;
}

.narrow-list .title-col a{
	font-size:14px;
}

.narrow-list .price-col{
	width:48px;
	padding-left:0px;
	margin-left:0px;
	padding-right:0px;
	margin-right:0px;
}

.legal-content{
	padding-left:40px;
	padding-right:40px;
}

.pagination li.selected a{
	background-color:#e2e4e4;
}

.main-area p{
	font-size:13px;
}

.modal-content{
	width: 480px;
	height:200px;
}

.modal-footer{
	border-top: 0px;
}