.gantt td{
	width:60px;
	height:34px;
	border:1px solid #eee;
	text-align:center;
}

.gantt td.title {
	width:180px;
	text-align:left;
}

.gantt td.start-time, .gantt td.end-time{
	width:100px;
}
/*
.table-head .title{
	border-bottom:0px solid #eee;
}

.table-head .start-time, .table-head .end-time{
	border-bottom:0px solid #eee;
}*/

.gantt .item{
	border:0px solid #eee;
	/*z-index:2;*/
}

.gantt .wrapper{
	height:34px;
}

.gantt .duration{
	height:10px;
	position:relative;
}

span.glyphicon-triangle-bottom {
    font-size: 0.6em;
}