/* Global define start*/
ul {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	line-height: 0px;
}

/* normal input */
.z-input {
	max-width: 340px;
}

/* long input */
.z-l-input {
	width: 720px;
}

.z-list .title-col {
	font-size: 16px;
	font-weight: 400;
}

.title-col a {
	font-size: 16px;
	font-weight: 500;
}

.z-list .image-col {
	float: left;
	margin: 4px;
	position: relative;
}

.z-list .content-col {
	overflow: hidden;
	margin: 2px;
	font-size: 14px;
}

.z-list .menu-col {
	width: 29px;
	float: right;
	margin: 0px;
	position: relative;
}

.page-content {
	min-height: 400px;
	margin-top: 36px;
}

.menu-col div {
	padding: 2px 6px 2px 6px;
	margin-top: 4px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/* Label on the left */
.l-label {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.l-field {
	padding-left: 5px;
	padding-right: 15px;
}

.l-block input {
	min-width: 212px;
}

.dialog-area {
	padding-top: 10px;
}

.title-area {
	font-size: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.z-group {
	padding-top: 5px;
	padding-bottom: 10px;
}

.z-checkbox {
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	width: 20px;
	line-height: 20px;
}

.z-label {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.z-field {
	padding-left: 0px;
	padding-right: 15px;
}

.z-error {
	color: red;
	font-size: 13px;
	height: 18px;
	line-height: 18px;
}

.wizard-content {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 4px;
}

.z-border-box {
	border-color: rgb(173, 173, 173);
	border-width: 1px;
	border-style: solid;
}

.z-pager {
	margin-top: 8px;
}
/* Global define end*/

/* bootstrap-upload start */
input.file-upload-input {
	width: 96px;
	height: 96px;
	display: none;
	/*opacity: 0;*/
	border: 1px solid black;
}

.bootstrap-upload li {
	list-style: None;
	height: 150px;
	margin-right: 5px;
	float: left;
}

.bootstrap-upload img {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

/* bootstrap-upload end */

/*
*	Components
*/
.z-btn.active {
	background-color: #eee;
}

.z-btn-group {
	width: 100%;
}

.z-btn-group>.z-btn {
	font-size: 13px;
	height: 48px;
	border: 1px solid #aaa;
	text-align: center;
	padding-top: 16px;
}

.z-btn-group>.z-btn:not (:first-child ), .z-btn-group>.dropdown-toggle:not
	(:first-child ) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0px;
}

#btn-grp-apartment {
	min-width: 105px;
}

#btn-grp-entire-home {
	min-width: 105px;
}

#btn-grp-shared {
	min-width: 105px;
}

#btn-grp-house {
	min-width: 105px;
}

.forget-password {
	margin-top: 20px;
}

ul.image-list {
	/*display:inline-block;*/
	list-style-type: none;
	margin-top: 10px;
	padding-left: 0px;
}

li.z-active {
	width: 48px;
}

.image-thumbnail {
	margin-right: 5px;
	float: left;
}

.btn-l-arrow {
	margin-top: 0px;
	padding-bottom: 10px;
	width: 20px;
	height: 48px;
	display: inline-block;
}

.btn-r-arrow {
	margin-top: 0px;
	padding-bottom: 10px;
	width: 20px;
	height: 48px;
	display: inline-block;
}

input.price-box {
	float: left;
	max-width: 100px;
}

.price-separator {
	float: left;
	font-size: 20px;
	margin: 0px 10px 5px 10px;
}

.popular-cities {
	/*margin-top:40px;*/
	padding-left: 40px;
}

.province-col {
	margin-left: 20px;
}

.province-col span {
	font-size: 16px;
	font-weight: bold;
}

li.popular-city-block {
	/*position:relative;
	height:24px;*/
	font-size: 14px;
}

li.popular-city-block:hover {
	color: blue;
}

ul.popular-city-list {
	list-style-type: none;
	width: 130px;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.city-text {
	/*
	position:absolute;
    left:1%;
    top:8%;
	text-align:left;
	text-indent:10px;
	font-size:16px;
	font-weight: bold;
	color: #ffffff;*/
	
}

.list-inline li {
	display: inline-block;
	vertical-align: top;
}

.province-list {
	max-width: 600px;
}

.search-box-list {
	font-size: 14px;
	line-height: 24px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 400px;
}

.search-box-list li:hover {
	background-color: #337ab7;
	color: white;
}

#city-search-input ul.search-box-list {
	width: 230px;
}

#home-page-search-box {
	margin-top: 62px;
}

#home-page-search-box ul {
	width: 428px;
}

#search-box-home {
	max-width: 428px;
	margin-bottom: 20px;
}

body {
	font-family: Arial, Helvetica, verdana, arial, sans-serif;
	font-size: 16px;
	border: 0 none;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #AFBED8;
}

.nav-input input[type="text"] {
	height: 10px;
	font-size: 9px;
	line-height: 10px;
}

.breadcrumb-bar {
	height: 21px;
	background-color: #f5f5f5;
}

.breadcrumb {
	margin: 0px;
	padding: 2px 0px 2px 0px;
	font-size: 12px;
}

.title {
	height: 32px;
	padding: 4px 10px 2px 20px;
	margin: 0px;
}

.items {
	margin: 10px 0px 10px 0px;
}

.boder-right-splitter {
	border-right: 1px solid #EEE;
}

.boder-left-splitter {
	border-left: 1px solid #EEE;
}

.left-column {
	background-color: white;
}

.main {
	margin-top: 10px;
	/* padding-top: 20px;
	 height: 300px; 
	background-color: #AFBED8;*/
}

.ad-area {
	height: 120px;
	border-bottom: 1px solid #EEE;
}

.sorting-btn-area>ul {
	height: 20px;
	padding: 10px;
}

.sorting-btn-area ul>li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.sorting-btn-area li+li {
	border-left: 1px solid #eee;
}

.white-font {
	color: white;
}

/** section for the index page **/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading {
	margin-bottom: 10px;
}

.footer {
	height: 55px;
	background-color: #e1e4e7;
	padding-top: 20px;
}

#footer-content {
	padding-top: 10px;
	padding-right: 15px;
}

.panel-heading {
	height: 34px;
}

.btn-filter {
	display: none;
}

.large-title {
	font-size: 26px;
	margin-bottom: 14px;
}

.panel {
	/*background-color: rgb(240,240,240);*/
	background-color: rgb(250, 250, 250);
	border-radius: 3px;
}

.panel-info {
	border-color: rgb(220, 220, 220);
}

.panel-info>.panel-heading {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 13px;
	/*background-color: rgb(240,240,240);*/
	background-color: rgb(250, 250, 250);
	border-bottom-color: rgb(220, 220, 220);
}

.z-panel {
	margin-top: 10px;
}

.panel-title {
	font-size: 14px;
	color: rgb(100, 100, 100);
	margin-left: 10px;
}

.z-list .isbn-col {
	font-size: 14px;
}

.z-list .description-col {
	width: 100%;
}

#listing-page {
	padding-left: 0px;
	padding-right: 0px;
}

#listing-page .item-list {
	min-height: 480px;
}

.narrow-list .item-list {
	min-height: 450px;
}

ul.pagination {
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.item-wizard .form-control {
	min-width: 280px;
}

.item-wizard .btn-group button {
	min-width: 140px;
}

.agree-term-label-area {
	font-size: 14px;
	padding-top: 0px;
	line-height: 20px;
	width: 360px;
}

.panel-body {
	padding: 10px;
}

.detail-text {
	font-size: 14px;
}

login-form .btn-holder {
	margin-top: 10px;
}

.form-content .btn-holder {
	margin-top: 10px;
}

.school-checkbox-list {
	font-size: 14px;
	margin-bottom: 15px;
}

.school-checkbox-item {
	padding-left: 0px;
	line-height: 18px;
}

.school-checkbox-item span {
	margin-left: 10px;
}

#map-canvas {
	/*width:320px;
	height:240px;*/
	display: block;
	width: 100%;
	height: 240px;
}

.icon-text {
	font-size: 14px;
}

.modal-dialog {
	width: 90%;
	height: 84%;
}

.modal-content {
	height: 100%;
}

#map-canvas2 {
	display: block;
	width: 98%;
	height: 480px;
}

.item-list-col {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.filter-col {
	min-width: 280px;
	margin: 0px;
	padding: 0px;
	float: left;
}

.filter-btn-group {
	width: 100%;
	margin-bottom: 10px;
}

.filter-btn-group button {
	width: 49%;
}
/*
.detail-col{
	padding-left:0px;
	padding-right:0px;
}
*/
.address-title {
	color: rgb(32, 32, 120);
	font-size: 16px;
	padding: 15px 2px 6px 10px;
	font-weight: bold;
}

.form-content {
	display: block;
	padding-top: 20px;
	padding-left: 180px;
	padding-right: 10px;
}

/* footer */
div.footer {
	background-color: rgb(230, 230, 230);
	height: 144px;
	font-size: 80%;
}

.footer a {
	color: rgb(48, 48, 48);
}

.footer a:hover {
	color: rgb(64, 64, 64);
}

.footer-title {
	font-weight: bold;
}
/* end of footer */
.contact-area p {
	font-size: 14px;
}

.contact-area .contact {
	font-size: 14px;
}

.contact-area .contact-title {
	font-size: 16px;
	font-weight: 600;
}

/* image-uploader */
.image-uploader {
	width: 640px;
}

/* Set height 0px to make the canvas invisible */
.uploader-canvas {
	height: 0px;
}

/* ratio is 4:3 */
.preview-canvas {
	padding: 0px;
}

.progress-holder {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 15px;
	max-width: 480px;
}

.image-uploader .btn-holder {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.preview-area {
	margin-bottom: 10px;
	min-height: 283px;
}

.long-input {
	width: 590px;
}

#school-select {
	margin-bottom: 20px;
}

.item-wizard {
	min-height: 480px;
	margin-top: 0px;
}

.item-wizard .panel {
	height: 1610px;
	padding-top: 20px;
	padding-left: 20px;
}

/* button area under the wizard page*/
.item-wizard .btn-area {
	margin-bottom: 15px;
}

.thumbnail-list-area {
	margin-left: 4px;
	margin-top: 10px;
	height: 72px;
}

.my-property-list {
	min-height: 256px;
	padding-left: 0px;
	padding-right: 0px;
}

.language-list {
	list-style: none;
	background-color: #e6e6e6;
	position: absolute;
	z-index: 999;
	min-width: 160px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
	line-height: 20px;
}

.category {
	margin-bottom: 8px;
}

rzslider span.bar {
	background: #ccc;
}

rzslider span.pointer {
	background-color: #ccc;
}

rzslider span.limit {
	display: none;
}

rzslider span.pointer {
	border-radius: 0px;
}

rzslider span.bubble {
	margin-bottom: 10px;
}

.filter-btn-panel {
	margin-top: 0px;
}

.filter-btn-holder {
	width: 100%;
	padding-top: 0px;
}

.filter-bottom-btn-holder {
	width: 100%;
}

.filter-bottom-btn-holder button {
	width: 49%;
}

.fixed-top {
	position: fixed;
	top: 54px;
	z-index: 1000;
}

.fixed-bottom {
	position: fixed;
	bottom: 10px;
	z-index: 1000;
}

#nav-menus {
	z-index: 1100;
}

#property-list-empty {
	margin-top: 40px;
}

#property-list-empty .text-content {
	margin-top: 10px;
	margin-bottom: 20px;
}

.home-type, .rent-type, .furnished {
	min-height: 60px;
}

ul.category-list {
	list-style-type: none;
	font-size: 15px;
	padding-left: 0px;
}

li.sub-category {
	box-sizing: border-box;
	border-radius: 2px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 5px;
	position: relative;
	line-height: 24px;
	font-size: 16px;
}

li.sub-category .badge {
	margin-left: 4px;
}

.i-icon {
	width: 20px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.city-list {
	margin-top: 30px;
}

.city-list img {
	width: 380px;
}

.city-row {
	width: 800px;
}

.city-col {
	width: 390px;
	height: 162px;
	float: left;
}

.title-lg {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Arial, Tahoma, 'Hiragino Sans GB',
		STHeiti, 'Microsoft YaHei', sans-serif;
}

.title-bg {
	font-size: 16px;
	font-weight: bold;
}

.city-title {
	position: relative;
	text-align: left;
	text-indent: 10px;
	text-shadow: 1px 1px #000000;
	color: white;
	top: -60px;
}

.counter-title {
	position: relative;
	text-align: left;
	text-indent: 10px;
	text-shadow: 1px 1px #000000;
	color: white;
	top: -58px;
}

.consultant-list .row {
	margin-bottom: 10px;
}

.consultant-list h2 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 16px;
	font-weight: bold;
}

.consultant-list h3 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 14px;
}

.consultant-list h4 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 12px;
}

.consultant-list img {
	width: 80px;
	height: 80px;
}

.selected-consultant .row {
	margin-bottom: 10px;
}

.selected-consultant h2 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 16px;
	font-weight: bold;
}

.selected-consultant h3 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 14px;
}

.selected-consultant h4 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 12px;
}

.selected-consultant img {
	width: 128px;
	height: 128px;
}

.panel-title {
	padding-bottom: 10px;
}

.filter-list {
	padding-left: 10px;
}

.filter-item {
	margin-top: 0px;
	font-size: 15px;
}

.school-list .row {
	margin-bottom: 15px;
}

.school-list img {
	width: 160px;
	height: 120px;
}

.school-list h1 {
	font-size: 26px;
	font-weight: 700;
	margin-top: 0px;
}

.school-list h2 {
	font-size: 18px;
}

.steps {
	margin-bottom: 15px;
	padding-left: 0px;
	margin-left: 0px;
}

.steps img {
	width: 48px;
	height: 48px;
	padding-right: 0px;
}

.step-title {
	font-size: 12px;
}

.form-control {
	border-radius: 0px;
}

ul.timeline {
	line-height: 14px;
}

.message-list {
	height: 300px;
	width: 100%;
	border: 1px solid gray;
	margin-bottom: 15px;
	font-size: 12px;
	overflow-y: auto;
}

/* multi steps */
.w-pager-holder {
	counter-reset: step;
	width: 100%;
	margin-top: 15px;
	height: 41px;
}

.w-pager-holder li {
	list-style-type: none;
	display: list-item;
	color: lightgrey;
	text-align: center;
	font-size: 13px;
	float: left;
	position: relative;
}

.w-pager-holder li.active:before, .w-pager-holder li.active:after {
	background: #428bca;
	color: white;
}

.w-pager-holder li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 13px;
	color: #333;
	background: lightgrey;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

.w-pager-holder li:first-child:after {
	content: none;
}

.w-pager-holder li.w-pager>span {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgrey;
	position: absolute;
	top: 9px;
	z-index: -1;
}

.w-pager-holder span.active {
	background: #428bca;
}

.w-pager-holder div.step-title {
	padding-top: 8px;
}

.w-pager-holder li.active div.step-title {
	color: #428bca;
}

.w-pager-holder li.selected div.step-title {
	font-size: 13px;
	font-weight: bold;
}

input[type="file"] {
	display: none;
}

.file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.z-tile {
	/*background-color: #eee;*/
	border: 1px solid #eee;
	font-size: 13px;
	height: 120px;
}

.z-tile img {
	width: 70px;
	height: 70px;
}

.z-tile .profile {
	padding-left: 0px;
}

.z-tile .message {
	font-size: 14px;
}

.text-bold {
	font-weight: bold;
	font-size: 14px;
}

.text-s {
	font-size: 12px;
}

.text-m {
	font-size: 16px;
	font-weight: normal;
}

.text-b {
	font-size: 18px;
	font-weight: normal;
}

.text-l {
	font-size: 24px;
	font-weight: normal;
}

.school-zh {
	margin-bottom: 4px;
}

.school-en {
	color: #888;
}

#consultant-table {
	margin-top: 20px;
}

#consultant-table td {
	width: 160px;
	height: 34px;
	border: 1px solid #eee;
	text-align: center;
}

#consultant-table td.school {
	width: 280px;
}

label.file-upload {
	width: 149px;
}

.search-btn {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.photo-area {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	background-color: #828688;
}

.img-round {
	border-radius: 50%;
	border: 2px solid #fff;
}

.img-round-s {
	border-radius: 50%;
	border: 1px solid #AFBED8;
}

.photo-s {
	height: 30px;
	width: 30px;
}

.photo-l {
	height: 96px;
	width: 96px;
}

.nav-text {
	line-height: 32px;
}

.consultant-form input {
	max-width: 256px;
}

.consultant-form select {
	width:100% !important;
	max-width: 256px;
}

	ul.nav > li{
		background-color:#eee !important;	
	}
	
.search-bar{
	margin-top:40px;
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}

.l1-title{
	font-size:16px;
	font-weight:bold;
}

.l2-title{
	font-size:14px;
	font-weight:bold;
	color:#565A5C;
}

.l2-text{
	font-size:13px;
	color:#565A5C;
}

.text-l{
	font-size:20px;
}