@media screen and (max-device-width:640px) and (orientation:portrait),
screen and (max-device-width:768px) and (orientation:landscape)
{
	.large-title {
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.btn-filter {
		display: block;
	}
	
	.page-content {
		padding-left: 0px;
		padding-right: 0px;
		min-height:320px;
		margin: 0px 0px 0px 0px;
	}
	
	#item-detail-tabs .nav-tabs {
		width: 100%;
	}
	
	#item-detail-tabs .nav-tabs a {
		width: 50%;
	}
	
	#mobile-map {
		height: 280px;
	}
	
	#map-canvas2 {
		display: block;
		width: 100%;
		height: 200px;
	}
	
	.modal-dialog {
		width: 100%;
		height: 380px;
	}
	
	.back-btn {
		float: left;
		width: 30px;
		height: 50px;
		padding-top: 15px;
		padding-left: 10px;
		"
	}
	
	.search-box-list {
		line-height: 36px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		width: 100%;
	}
	
	.search-box-list li {
		padding-top: 8px;
		padding-left: 15px;
		padding-right: 15px;
		height: 36px;
		font-size: 16px;
		border-bottom: 1px solid #888888;
	}
	
	.search-box-list li:last-child {
		border-bottom: 1px solid #e6e6e6;
	}
	
	#search-box-home {
		margin-bottom:14px;
	}
	
	.dialog-area {
		padding: 0px;
		margin-left: 0px;
		margin-bottom:10px;
	}
	
	.form-content {
		display: block;
		padding-top:0px;
		padding-left:0px;
		padding-right:0px;
		padding-bottom: 20px;
	}
	
	#login-form {
		width: 100%;
	}
	/*
	#login-form{
		width:100%;
		display: block;
		padding-left:15px;
		padding-right:15px;
	}
	*/
	#login-form .z-group {
		width: 100%;
	}
	
	#login-form .input-group {
		width: 100%;
	}
	
	.item-wizard .panel {
		padding-top:20px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.item-wizard .panel-info {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.image-uploader {
		width: 100%;
	}
	
	.l-field {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	div.footer {
		height: 280px;
	}
	
	div.footer .container {
		width: 100% margin-left:0px;
		margin-right: 0px;
		padding-right: 0px;
		padding-left: 0px;
		background-color: rgb(230, 230, 230);
	}
	
	.contact-area {
		padding-left: 15px;
	}
	
	.contact-area h3 {
		font-size: 18px;
		font-weight: 600;
	}
	
	.z-group{
		margin-bottom:5px;
	}
	
	.l-label{
		font-size:14px;
		margin-bottom:2px;
	}
	
	.item-wizard{
		padding-left:0px;
		padding-right:0px;
	}
	
	.item-wizard .btn-group{
		width:100%;
	}
	
	.item-wizard .btn-group button {
		min-width: 40px;
	}
	
	.item-wizard .wizard-container{
		padding-left:10px;
		padding-right:10px;
	}
	
	.home-type button{
		width:50%;
	}
	
	.rent-type button{
		width:33.3%;
	}
	
	#item-form{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	.furnished button{
		width:50%;
	}
	
	.pet-friendly button{
		width:50%;
	}
	
	.image-uploader .btn-holder{
		padding-left:10px;
	}
	
	.image-uploader .progress-holder{
		padding-left:10px;
		padding-right:10px;
		height:5px;
	}
	
	.image-uploader .progress{
		height:5px;
	}
	
	.item-wizard .btn-area{
		margin-bottom:10px;
		padding-left:10px;
		margin-left:0px;
	}
	
	#nav-menus[aria-expanded="true"], .filter-col{
	  	/*-webkit-transition:all linear 0.5s;
  		transition:all linear 0.5s;
  		*/
		overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
	}
	
	#nav-menus[aria-expanded="true"]{
		max-height: 400px;
	}
	
	#nav-menus[aria-expanded="false"], .filter-col.ng-hide {
	  /*opacity:0;*/
	  max-height:0px;
	}

	
	.filter-col .zpanel{
		width:100%;
	}
	
	
	/* item-detail map */
	#map-canvas
	{
		width : 100%; 	/* map width */
		height: 192px;	/* map height */
	}
	
	.legal-content{
		margin-top:28px;
		margin-left:10px;
	}

	.wizard-content{
		min-height:290px;
	}

	/* mobile city block images start */
	.popular-city-block {
		box-sizing: border-box;
		border-radius: 2px;
		margin-left:0px;
		padding-left:5px;
		padding-right:5px;
		position:relative;
	}
	
	.popular-city-row{
		margin-left:5px;
		margin-right:5px;
		margin-bottom:10px;
	}
	
	.city-text{
		position:absolute;
	    left:1%;
	    top:8%;
		text-align:left;
		text-indent:10px;
		font-size:16px;
		font-weight: bold;
		color: #ffffff;
	}
	/* mobile city block images end */
		
	.z-list{
		list-style-type:none;
		padding:0px;
		background-color:rgb(255,255,255)
	}
	
	.z-list li{
		margin:0px;
		padding:0px;
		border-top:1px solid rgb(228,228,228);
		border-bottom:1px solid rgb(228,228,228);
	}
	
	.z-list li.selected{
		background-color:#e4e4e4;
	}
	
	.z-list div.title-col{
		font-size:16px;
	}

	/* .z-col{ */
	/* 	padding-left:0px; */
	/* 	padding-right:0px; */
	/* 	margin-left:0px; */
	/* 	margin-right:0px; */
	/* 	float:left; */
	/* } */
	
	.z-list .time-col{
		padding-left:5px;
		padding-right:5px;
		font-size:12px;
	}
	
	.z-list img{
		width:80px;
		height:80px;
		border-radius:2px;
	}
	
	.z-list .price-col{
		float:right;
		width:64px;
		margin-top:24px;
		margin-left:0px;
		padding-left:0px;
		padding-right:0px;
		font-family: 'Helvetica Neue', Arial, Tahoma, 'Microsoft YaHei', sans-serif;
		font-size: 20px;
		font-weight: bold;
	}


	.sold {/** text **/
		font: bold Georgia, "Times New Roman", Times, serif;
		color: white;
		background-color: red;
		text-align:center;
		position: absolute;
		width:60px;
		height:18px;
		padding-top:9px;
		top: 10%; 
		left: 1%;
		/**note: CSS3 TRANSFORM: ROTATE DOESN'T WORK IN ALL BROWSERS YET**/ 
		-webkit-transform: rotate(-30deg); /**safari, chrome**/
		-moz-transform: rotate(-30deg); /**firefox**/
		transform: rotate(-30deg); /**other browsers**/
	}
	
	#filter-btn{
		width:60px;
		margin:4px;
		float:left;
	}
	
	#search-box{
		width:226px;
		float:right;
		margin:4px;
	}
	
	.detail-title{
		color: rgb(20, 70, 100);
		font-size:16px;
		line-height:30px;
	}
	.detail-text{
		color: rgb(110, 110, 110);
		font-size:14px;
		line-height:21px;
	}
	
	.navbar{
		min-height:50px;
	}
	
	.nav-list{
		display:inline-block;
	}
	
	.narrow-list{
		padding-left:0px;
		padding-right:0px;
	}
	
	/*
	.filter-btn-panel .fixed-top{
		margin-bottom:50px;
	}
	*/
	.filter-btn-holder .btn{
		width:100%;
	}
	
	.lk-btn{
		width:80%;
	}
	
	.text-xs{
		font-size:11px;
	}
	
	.navbar{
		margin-bottom:0px;
		
	}
	
	.city-list img{
		width:100%;
	}
	
	.city-row{
		width: 100%;
	}
	
	.city-col{
		width:100%;
		float:none;
		height:auto;
	}
	
	/*login, sign up*/
	.form-content{
		padding-left:0px !important;
	}
	
	.search-btn {
		margin-top:30px;
	}
}



