.step-list{
	list-style:none;
}

.step-list li{
	display:inline-block;
}

.wizard-pager{
	width:100%;
}

ul.step-list{
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}

div.step-block{
}

div.step-node{
	float:left;
	max-width:42px;
}

div.step-line{
	height:10px;
	border-bottom:1px solid black;
	margin-left:0px;
	margin-right:0px;
	/*display:inline-block;*/
}

.steps-list > li.current{
  background-color: #808000;
}

@z-gray: rgb(230, 230, 230);


.z-left{
	float:left;		
}

.z-right{
	float:right;		
}

.z-box{
	border-color: @z-gray;
	border-width: 1px;
	border-style: solid;
}

.z-widget{
	margin:14px 0px 14px 0px;
	padding: 0px 10px 0px 10px;	
}

.z-widget-title{
	font-size:14px;
	margin-bottom:8px;
}

.z-widget-content{
	margin:4px 0px 4px 0px;
	min-height:40px;
}

li.image-thumbnail.active{
	display:inline-block;
}

.image-thumbnail > input{
	display:none;
}

.image-thumbnail > img{
	display:none;
}

.image-thumbnail > img.active{
	display:inline-block;
	width:64px;
	height:56px;
}
.image-thumbnail > img.selected{
	border-color: rgb(51, 122, 183);
	border-width: 2px;
	border-style: solid;
}


.search-box-list{
	list-style:none;
	background-color:@z-gray;
	position:absolute;
	z-index:999;
	min-width:200px;
	padding-left:0px;
	padding-right:0px;
	font-size:12px;
	line-height:20px;
}

.search-box-list li{
	padding-left:15px;
	padding-right:15px;
}

.filter-input{
	padding-left:0px;
	padding-right:0px;
}

.filter-seperator{
	margin-top:5px;
}


/*	Desktop Image viewer start */
.image-viewer-preview{
	padding-left:0px;
	padding-right:0px;
	width:640px;
	/*height:480px;*/
}


.image-viewer{
	width:640px;
	/*height:480px;*/
}


.image-viewer ul > li > img{
	width:64px;
	height:60px;
}


@media only screen and (max-device-width:640px) {

	.detail-col{
		width:100%;
		padding-left:0px;
		padding-right:0px;
	}
	
	.detail-col .image-viewer{
		width:100%;
		padding-left:0px;
		padding-right:0px;
	}

	.image-viewer-preview{
		padding-left:0px;
		padding-right:0px;
		width:100%;
	}
	
	.image-viewer-preview img{
		width: 100%;
	}
	
	.image-viewer-preview span.pic-number{
		position: absolute;
		top:80px;
		left:1em;
		display:block;
		background-color:rgba(0,0,0,.4);
		color:white;
		font-size:0.75em;
		padding:0.25em;
		border-bottom-right-radius: 8px;
	}
}	