
<div class="container" ng-controller="AdminController">
	<div class="col-md-9">
	<div class="row">
		<div class="btn btn-default" ng-click="addConsultant()" translate>Add</div>
		<div class="btn btn-default" ng-click="editConsultant()" translate>Edit</div>
		<div class="btn btn-default" ng-click="rmConsultant()" translate>Remove</div>
		
		<div class="btn btn-default" ng-click="redirectTo('client')" translate>Client</div>
	</div>
	
	<!--<img src="{{getPhoto(c.picID)}}" style="width:48px;height:48px;"/-->

	<div class="row" style="margin-top:40px;">
		<list opt="consultants.opt" data="consultants.data" on-select="onSelectRow(item)"></list>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-12 dialog-area">
		<form>
		
			<div class="title-area col-xs-12 col-sm-12 col-md-12" translate>Consultant</div>
			
			<div class="consultant-form col-xs-6 col-md-6">
				<div class="z-group" name="username">
					<div class="col-xs-12 z-label"><span translate>Username</span>:</div>
					<input class="form-control" type="text" placeholder="{{'Username' | translate }}" ng-model="c.username"/>
					<div class="z-error">{{error.username}}</div>
				</div>
			
				<div class="z-group" name="password">
					<div class="col-xs-12 z-label"><span translate>Password</span>:</div>
					<input class="form-control" type="password" placeholder="{{'Password' | translate }}" ng-model="c.password"/>
					<div class="z-error">{{error.password}}</div>
				</div>
			
				<div class="z-group" name="email">
					<div class="col-xs-12 z-label"><span translate>Email</span>:</div>
					<input class="form-control" type="text" placeholder="{{'Email' | translate }}" ng-model="c.email"/>
					<div class="z-error">{{error.email}}</div>
				</div>
				
				<div class="z-group">
					<div class="col-xs-12 z-label"><span translate>Program</span>:</div>
					<select class="form-control" ng-model="c.program" placeholder="{{'Choose Program'| translate }}" style="width:196px;">
						<option value="" disabled selected hidden translate>Choose Program</option>
						<option ng-repeat="p in programs" translate>{{p.name}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-xs-12 z-label"><span translate>School</span>:</div>
					<select class="form-control" ng-model="c.school" placeholder="{{'Choose School'| translate }}" style="width:196px;">
						<option value="" disabled selected hidden translate>Choose School</option>
						<option ng-repeat="s in schools" translate>{{s.name}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				


			</div>
			
			<div class="col-xs-6 col-md-6">
			
				<div class="col-md-12" style="height:300px;">
				
					<!--  uploader opt="uploader" on-complete="onCompleteUpload()" on-before="onBeforeUpload(data)"></uploader-->
					<img alt="Photo" src="getPhoto(c)" style="width:128px;height:160px;">
					<!--  div class="btn btn-default" ng-click="redirectTo('profile')" translate>Add Photo</div-->
					<input ng-model="c.photo" hidden/>
				</div>
				
				<div class="z-group" style="margin-top:30px;">
					<div class="col-xs-12 z-label"><span translate>My Service</span>:</div>
					<check-box opt="createDoc"></check-box>
					<check-box opt="modifyDoc"></check-box>
					<check-box opt="nativeLang"></check-box>
					<check-box opt="contactProf"></check-box>
					<check-box opt="scholarship"></check-box>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="z-group" style="height:200px;">			
					<div class="col-md-12 z-label"><span translate>Description</span>:</div>
					<textarea class="form-control col-md-12" rows="8" ng-model="c.description"></textarea>
				</div>
			</div>

			
<!-- 			<img ng-repeat="pic in pics" src="{{getPhoto(pic)}}" ng-click="selectPic(pic)" class="portrait portrait-{{pic}}" style="width:60px;height:60px;"/>
 -->			
			<div class="col-xs-12 col-sm-12 col-md-10 btn-holder" style="margin-top:40px;">
				<button type="submit" name="signup" class="btn btn-primary" ng-click="signUp()" translate>Create Account</button>
			</div>
		</form>

	</div>
	</div>
	<div class="col-md-3">
		
		<div class="z-label" style="margin-top:30px;" translate>Feedback</div>
		<div ng-repeat="fb in feedbacks" style="border-bottom:1px solid #eee;">
			<div>{{fb.date}}</div>
			<div><span class="z-label" translate>From</span>:<span>{{fb.email}}</span></div>
			<div><span class="z-label" translate>Message</span>:<span>{{fb.body}}</span></div>
		</div>
	</div>
</div>