<div id="item-form" class="container page-content" ng-controller="ApplicationFormController">

	<div class="row steps col-xs-12" style="margin-bottom:30px;">
		<div class="col-xs-1" ng-repeat="step in steps" ng-click="setActivePage(step.id)">
			<div class="step-title" translate>{{step.title}}</div>
			<img src="../images/steps/{{step.img}}.png"/>
		</div>
	</div>

	<div class="step-page-0" ng-show="activeIndex==0">
		<div class="col-xs-3">
			<div class="z-group">
				<div class="col-md-10 z-label"><span translate>Choose Major</span>:</div>
				<select class="form-control" ng-model="item.major" placeholder="{{'Choose Major'| translate }}">
					<option value="" disabled selected hidden translate>Choose Major</option>
					<option ng-repeat="cm in majors" translate>{{cm.title}}</option>
				</select>
				<div class="z-error"></div>
			</div>
			
			<div class="z-group">
				<div class="col-md-10 z-label"><span translate>Choose School</span>:</div>
				<select class="form-control" ng-model="item.school" placeholder="{{'Choose School'| translate }}">
					<option value="" disabled selected hidden translate>Choose School</option>
					<option ng-repeat="s in schools" translate>{{s.name}}</option>
				</select>
				<div class="z-error"></div>
			</div>
			
			<div class="z-group" style="margin-top:20px;">
				<h3 class="panel-title"><span translate>已选顾问</span>:</h3>
				<div ng-repeat="sc in selectedConsultants" class="row">
					<div class="col-xs-12">{{sc.name}} <span class="glyphicon glyphicon-remove" ng-click="toggleConsultant(sc.id)"></span></div>
				</div>
			</div>
		</div>

	
		<div class="col-xs-9 col-sm-9 col-md-9 item-list-col" >
			<div class="consultant-list" ng-repeat="c in consultants">
				<div class="row">
					<div class="col-xs-2"><img src="{{getPhoto(c.photoID)}}"/></div>
					<div class="col-xs-7">
						<h2>{{c.name}}</h2>
						<h3>
							<span translate>{{c.school}}</span>&nbsp;
							<span translate>{{c.program}}</span>&nbsp;
							<span translate>{{c.degree}}</span>&nbsp;
							(<span translate>{{c.current}}</span>)
						</h3>
						<h4>{{c.nSuccessCases}}个成功案例</h4>
					</div>
					<div class="col-xs-3">
						<!--  button class="apply-now" translate>{{c.gender==="F" ? "Consult Her" : "Consult Him"}}</button-->
						<button class="apply-now" translate ng-click="toggleConsultant(c.id)" ng-show="!c.selected">{{c.gender==="F" ? "Consult Her" : "Consult Him"}}</button>
					</div>
				</div>
			</div>			
		</div>
		<div class="col-xs-12">
			<button class="btn btn-primary center-block lk-btn" ng-click="setActivePage(1)">Next</button>
		</div>
	</div>



	<div class="col-sx-12 col-sm-12 col-md-8 item-wizard" ng-show="activeIndex==1">
			<div class="col-sx-12 col-sm-12 col-md-4 wizard-container">
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Plan Year</span>:</div>
					<select class="form-control" ng-model=""item.planYear" placeholder="{{'Time to go aboard'| translate }}">
						<option value="" disabled selected hidden translate>Plan Year</option>
						<option ng-repeat="py in planYears">{{py}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Current Enrolled Status</span>:</div>
					<select class="form-control" ng-model="item.currEnroll" placeholder="{{'Current Grade'| translate }}">
						<option value="" disabled selected hidden translate>Current Enrolled Status</option>
						<option ng-repeat="ce in currEnrolls" translate>{{ce.title}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>GPA</span>:</div>
					<div class="z-field">
						<input class="form-control" type="text" name="gpa" ng-model="item.gpa" placeholder="{{'GPA'| translate }}" />
						<div class="z-error">{{error.gpa}}</div>
					</div>
				</div>
				
				<!--  div class="z-group">
					<div class="col-md-10 z-label"><span translate>Current Major</span>:</div>
					<select class="form-control" ng-model="item.currMajor" placeholder="{{'Current Major'| translate }}">
						<option value="" disabled selected hidden translate>Current Major</option>
						<option ng-repeat="cm in majors" translate>{{cm.title}}</option>
					</select>
					<div class="z-error"></div>
				</div -->
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Email</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="email" ng-model="item.email" placeholder="{{'Email'| translate }}" />
						<div class="z-error">{{error.email}}</div>
					</div>
				</div>
				
				<!--  div class="z-group" >
					<div class="col-md-2 z-label"><span translate>Name</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="name" ng-model="item.name" placeholder="{{'Name'| translate }}" />
						<div class="z-error">{{error.name}}</div>
					</div>
				</div>
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Gender</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="gender" ng-model="item.gender" placeholder="{{'Gender'| translate }}" />
						<div class="z-error">{{error.gender}}</div>
					</div>
				</div>
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Age</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="age" ng-model="item.age" placeholder="{{'Age'| translate }}" />
						<div class="z-error">{{error.age}}</div>
					</div>
				</div>
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Current School</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="school" ng-model="item.school" placeholder="{{'School'| translate }}" />
						<div class="z-error">{{error.school}}</div>
					</div>
				</div>
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Current Grade</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="grade" ng-model="item.grade" placeholder="{{'Grade'| translate }}" />
						<div class="z-error">{{error.grade}}</div>
					</div>
				</div>
				

				

				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>ILTES</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="unit" ng-model="item.unit" placeholder="{{'Unit number'| translate }}" />
						<div class="z-error">{{error.unit}}</div>
					</div>
				</div>
				

				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>City</span>:</div>
					<div class="col-md-10 z-field">
						<div city-select province-data="item.province" city-data="item.city" ng-model="item.province" ng-model="item.city"></div>
						<div class="z-error">{{error.city}}</div>
					</div>
				</div>
			
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Street</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="street" ng-model="item.street" placeholder="{{'Stree Number and Stree Name' | translate }}" />
						<div class="z-error">{{error.street}}</div>
					</div>
				</div>

				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Unit #</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="unit" ng-model="item.unit" placeholder="{{'Unit number'| translate }}" />
						<div class="z-error">{{error.unit}}</div>
					</div>
				</div>
				
				<div id="school-select" ng-show="hasSchool()">
					<div class="col-md-2 z-label"><span translate>Schools</span>:</div>
					<div class="col-md-10 z-field school-checkbox-list">
						<div ng-repeat="school in schools" ng-click="toggleCheckSchool(school)" class="col-md-12 school-checkbox-item">
							<input type="checkbox" name="schools" value="{{school.id}}" ng-model="selectedSchools" ng-checked="school.selected"/><span>{{ school.name }}</span>
						</div>
					</div>
				</div>
				
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Title</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="price" ng-model="item.title" placeholder="{{'Title' | translate }}" />
						<div class="z-error">{{error.title}}</div>
					</div>
				</div>
				
				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Description</span>:</div>
					<div class="col-md-10 z-field">
						<textarea class="form-control" rows="10" name="description" ng-model="item.description" placeholder="{{'Description' | translate }}"></textarea>
						<div class="z-error">{{error.description}}</div>
					</div>
				</div>



				<div class="z-group">
					<div class="col-md-2 z-label"><span translate>Phone</span>:</div>
					<div class="col-md-10 z-field">
						<input class="form-control" type="text" name="phone" ng-model="item.phone" placeholder="xxx-xxx-xxxx" />
						<div class="z-error">{{error.phone}}</div>
					</div>
				</div>
			</div-->
			<div class="col-xs-12">
				<button class="btn btn-primary center-block lk-btn" ng-click="setActivePage(2)">Next</button>
			</div>
		</div>
	</div><!-- .item-wizard -->
	
	<div ng-show="activeIndex==2">
		<div class="col-xs-3">
			<div class="z-group">
				<h3 class="panel-title"><span translate>School Type</span>:</h3>
				<div class="panel-body">
					<div class="z-btn-group">
					  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(1)" ng-class="{active:propertyType==1}" translate>Public</div>
					  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(0)" ng-class="{active:propertyType==0}" translate>Private</div>
					</div>
				</div>
			</div>
		
			<div class="z-group">
				<h3 class="panel-title"><span translate>按专业</span>:</h3>
				<div class="filter-list" ng-repeat="m in majors">
					<a class="filter-item" ng-model="program" value="{{m.id}}" translate>{{m.title}}</a>
				</div>
			</div>
			
			<div class="z-group" style="margin-top:20px;">
				<h3 class="panel-title"><span translate>意向学校</span>:</h3>
				<div ng-repeat="ss in selectedSchools" class="row">
					<div class="col-xs-12">{{ss.name}} <span class="glyphicon glyphicon-remove" ng-click="toggleSchool(ss.id)"></span></div>
				</div>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="school-list" ng-repeat="s in schools">
				<div class="row">
					<div class="col-xs-3"><img src="{{getImage(s.imageID)}}"/></div>
					<div class="col-xs-6">
						<h2>{{s.name}}</h2>
						<h1 translate>{{s.name}}</h1>
						<div translate>{{s.type}}</div>
					</div>
					<div class="col-xs-3">
						<button class="apply-now" translate ng-click="toggleSchool(s.id)" ng-show="!s.selected">Select</button>
					</div>
				</div>
			</div>
		</div>	
			<div class="row btn-area">
				<div class="col-sx-12 col-sm-12 col-md-2 z-label"></div>
				<div class="col-sx-12 col-sm-12 col-md-10 z-field">
					<button class="btn btn-primary" type="submit" ng-click="submit()" translate>Submit</button>
				</div>
			</div>

	</div>

	
	
	<!--  div class="col-sx-12 col-sm-12 col-md-4" ng-hide="bMobile">
		<div class="btn-area">
			<button class="btn btn-default" ng-click="createItem()" translate>New</button>
			<button class="btn btn-default" ng-click="toggleActive()">{{toggleActiveBtn}}</button>
		</div>	
	
		<div class="col-xs-12 col-sm-12 col-md-12 my-property-list" ng-show="bList">
			<div class="col-xs-12 col-sm-12 col-md-12 pull-left" ><span translate>My List</span>:</div>
				
			<div class="col-xs-12 col-sm-12 col-md-12 narrow-list" item-list datas="items"  curr-page="currPage" b-narrow-list="bNarrowList" b-image="bImage" 
				b-price="bPrice" b-date="bDate"></div>
		</div>
	</div-->
					<!--div class="z-group home-type">
					<div class="col-sx-12 col-sm-12 col-md-2 z-label"><span translate>Property Type</span>:</div>
					<div class="col-sx-12 col-sm-12 col-md-10 z-field">
						<div class="z-btn-group">
						  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(1)" ng-class="{active:item.property_type==1}" translate>Apartment</div>
						  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(0)" ng-class="{active:item.property_type==0}" translate>House</div>
						</div>
						<div class="z-error">{{error.property_type}}</div>
					</div>
				</div-->
</div>
