<div id="listing-page" class="container page-content" ng-controller="BookingController">
		
		<div class="col-md-8 col-xs-12" style="margin-top:20px;">
			<div class="l1-title" translate>{{title}}</div>
			<div ng-repeat="s in services" class="col-md-12 col-xs-12" style="padding:8px 0px 5px 0px;padding-bottom:8px;border-top:1px solid #eee;">
				<div class="col-md-2 col-xs-8 l2-title" style="padding-left:0px;" translate>{{s.type}}</div>
				<div class="col-md-1 col-xs-4 text-l">${{s.price}}</div> 
				<div class="col-md-6 col-xs-12 l2-text" style="padding-left:0px;" translate>{{s.description}}</div>
				<div class="col-md-3 col-xs-12 l2-text">
					<uploader opt="s" on-complete="onCompleteUpload()" on-before="onBeforeUpload(s)"></uploader>
				</div>
			</div>
		</div>
		
		<div class="col-md-8 col-xs-12" style="margin-top:15px;">
			<div class="row l1-text" ng-repeat="p in cart">
				<div class="col-md-2 col-xs-4 l2-title">
					<span class="pull-right" translate>{{p.type}}</span>
				</div>
				<div class="col-md-7 col-xs-5">
					<span translate>{{p.fname}}</span>
				</div>
				<div class="col-md-2 col-xs-1">${{p.price}}</div>
				<div class="col-md-1 col-xs-1"><span class="glyphicon glyphicon-remove" ng-click="rmDoc(p)"></span></div>
			</div>
			<div class="row" style="border-top:1px solid #eee;">
				<div class="col-md-2 col-xs-4 l2-title">
					<span class="pull-right" translate>Total</span>
				</div>
				<div class="col-md-7 col-xs-6"></div>
				<div class="col-md-2 col-xs-2">${{getTotal()}}</div>
			</div>
		</div>
		
		<div class="col-md-8 col-xs-12" style="margin-top:15px;">
			<div class="row" ng-show="!bConfirm">
				<img ng-click="goPaypal()" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">
			</div>
			<div class="row" ng-show="bConfirm">
				<button ng-click="confirm()">Confirm</button>
			</div>
		</div>
		
		
		<div class="col-md-4 col-xs-12">
			<div ng-repeat="c in carts" class="row">
				<div class="col-md-1 col-xs-4">${{c.price}}</div>
				<div class="col-md-3 col-xs-4">{{c.type}}</div>
				<div class="col-md-6 col-xs-4">
					<uploader opt="c" on-complete="onCompleteUpload()" on-before="onBeforeUpload(c)"></uploader>
				</div>
				<div class="col-md-2 col-xs-2">
					<span class="glyphicon glyphicon-remove" ng-click="rmDoc(p)"></span>
				</div>
			</div>
		</div>	
			
	<!-- 						<a href="{{d.fpath}}" download="{{d.fname}}" style="font-size:13px; padding-left:15px;">{{d.fname}}&nbsp;{{d.created}}</a> -->
			
            <!--  div class="w-page active" data-index="1">
            	<div class="row">
					<div class="col-xs-3">
						<div class="col-xs-12" style="margin-top:30px;" ng-repeat="t in types">            	
		            		<uploader opt="t" on-complete="onCompleteUpload()" on-before="onBeforeUpload(t)"></uploader>
		            	</div>
	            	</div>
	            	<div class="col-xs-9" style="margin-top:30px;">
	            		<div ng-repeat="d in docs.data" >
							<span translate>{{d.type}}</span>:
							<a style="padding-left:15px;margin-top:10px;">{{d.fname}}&nbsp;{{d.created}}</a>
							<span class="glyphicon glyphicon-remove" ng-click="rmDoc(d)"></span>
						</div>
	            	</div>
            	</div>
            	<div class="col-xs-6">
            		<div class="pull-right">
            			<button class="btn btn-primary" ng-click="sample()" translate>Get Sample</button>
						<button class="btn btn-primary" ng-click="cartSummary()" translate>Pay Fee</button>
            		</div>
				</div>
            </div-->
             	
             <div class="w-page active" data-index="2">
             	
             </div>
             	
             	
</div>
