
<div class="container" ng-controller="ClientController">
	<div class="col-md-12">
	
		<div class="row">
			<div class="btn btn-default" ng-click="redirectTo('admin')" translate>Consultant</div>
			<div class="btn btn-default" ng-click="redirectTo('clients')" translate>Client</div>
		</div>
		
		<!--<img src="{{getPhoto(c.picID)}}" style="width:48px;height:48px;"/-->
	
		<div class="row" style="margin-top:40px;">
			<div class="col-xs-7">
				<div class="col-xs-4"><img src="{{getPhoto(consultant)}}" style="width:80px;height:80px;"/></div>
				<div class="col-xs-8">
					<h3>
						<span class="text-bold">{{consultant.username}}</span>
						<span class="text-s" translate>{{consultant.program}}</span>&nbsp;
						<span class="text-s" translate>{{consultant.degree}}</span>
					</h3>
					
					<h3 class="text-bold school-zh" translate>{{consultant.school}}</h3>
					<h3 class="school-en">{{consultant.school}}</h3>	
	
					<h4>{{consultant.nSuccessCases}} cases successful</h4>	
				</div>
			</div>
			<div class="col-xs-5">
				<list opt="clients.opt" data="clients.data" on-select="onSelectClient(item)"></list>
			</div>
		</div>
		
		<div class="col-xs-9">
			<z-message-board opt="msgs.opt" data="msgs.data" msg="msg" on-send="onSubmitMsg()"></z-message-board>
		</div>
	
	</div>

</div>