<div class="container page-content" ng-controller="ConsultantDetailController">
	<div class="col-md-9 col-xs-12">
		<div class="col-md-2 col-xs-5" style="padding-top:25px;">
			<div class="photo-area img-round">
				<img class="photo-l" src="{{getPhoto(consultant)}}" />
			</div>
			<div class="text-bold text-center">{{consultant.username}}</div>
		</div>
		<div class="col-md-5 col-xs-7">
			<h3>
				<span class="text-s" translate>{{consultant.program}}</span>&nbsp;
				<span class="text-s" translate>{{consultant.degree}}</span>
			</h3>
			<div class="text-bold school-zh text-l" translate>{{consultant.school}}</div>
			<div class="school-en text-b">{{consultant.school}}</div>	

			<h4>{{consultant.nSuccessCases}} cases successful</h4>	
		</div>
		
		<div class="col-md-12 col-xs-12">
			<div class="l1-title"><span translate>About Me</span>:</div>
			<div>{{consultant.description}}</div>
		</div>

		<div class="col-md-12 col-xs-12" style="margin-top:20px;">
			<div class="l1-title" style="margin-bottom:8px;"><span translate>My Service</span>:</div>
			<div ng-repeat="s in services" ng-show="s.bEnable" class="col-md-10 col-xs-12" style="padding:8px 0px 5px 0px;padding-bottom:8px;border-top:1px solid #eee;">
				<div class="col-md-3 col-xs-12 l2-title" style="padding-left:0px;" translate>{{s.title}}</div>
				<div class="col-md-7 col-xs-12 l2-text" style="padding-left:0px;" translate>{{s.description}}</div>
				<div class="col-md-2 col-xs-12 l2-text btn btn-default" ng-click="book(s.title)" translate>Detail</div>
			</div>
		</div>

		<div class="col-md-8 col-xs-12" style="margin-top:20px;">
			<div class="btn btn-primary col-md-2 col-xs-12" style="margin-right:10px;" ng-click="contact()" translate>Contact Me</div>
			<!-- div class="btn btn-default col-md-2 col-xs-5" ng-click="redirectTo('booking')"translate>Booking</div -->
		</div>
	</div>
	
	<div class="col-md-3">
		<!-- div class="btn btn-default" ng-click="redirectTo('booking')"translate>Booking</div-->
	</div>
</div>