<div id="listing-page" class="container page-content" ng-controller="consultantListController">
	             <div class="w-page-content-lg">
					<div class="col-md-3 col-xs-12 filter-content">
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>School</span>:</div>
							<dropdown opt="schools.opt" data="schools.data" selected="schools.selected" on-select="onSelectSchool(item)"></dropdown>
						</div>
						
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>Program</span>:</div>
							<dropdown opt="programs.opt" data="programs.data" selected="programs.selected" on-select="onSelectProgram(item)"></dropdown>
						</div>
						<div class="z-panel">			
							<div class="panel-body filter-bottom-btn-holder" ng-class="{'fixed-bottom':bMobile}">
								<button class="btn btn-default" ng-click="resetFilter()" translate>Clear Filter</button>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-xs-12 item-list-col" >
						<div class="consultant-list" ng-repeat="c in consultants">
							<div class="row" ng-click="selectConsultant(c)">
								<div class="col-xs-3"><img class="img-round" ng-src="{{getPhoto(c)}}"/></div>
								<div class="col-xs-9">
									<h3>
										<span class="text-bold">{{c.username}}</span>
										<span class="text-s" translate>{{c.program}}</span>&nbsp;
										<span class="text-s" translate>{{c.degree}}</span>
									</h3>
									
									<h3 class="text-bold school-zh" translate>{{c.school}}</h3>
									<h3 class="school-en">{{c.school}}</h3>	

									<h4>{{c.nSuccessCases}} cases successful</h4>
								</div>
								
								<!-- div class="btn btn-primary" ng-click="selectConsultant(c)" translate>{{c.gender==="F" ? "Consult Her" : "Consult Him"}}</div-->
							</div>
						</div>			
						<!--  div item-list datas="items" curr-page="currPage" b-image="bImage" b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList"></div -->
					</div>
					
					<div class="col-md-3 item-list-col" >
					
					</div>
					
					<div id="property-list-empty" class="col-xs-8" ng-show="false">
						<div class="large-title text-center" translate>No results found!</div>
						<div class="text-content text-center" translate>Remove filters and you are bound to find a space.</div>
						<button class="btn btn-primary center-block" ng-click="refineFilter()" translate>Refine Filter</button>
					</div>
					
				</div>
             	
</div>
