<div id="item-form" class="container page-content" ng-controller="dashboardController">
	<div class="col-sm-8 col-md-8 col-xs-12 item-wizard" ng-show="hasConsultant">
	
		<!--gantt data="tasks"></gantt-->
		<!--timeline data="tasks"></timeline-->

		
		<div class="consultant-list">		
			<div class="col-md-3 col-xs-3">
				<div class="photo-area img-round">
					<img src="{{getPhoto(consultant)}}" />
				</div>
			</div>
			<div class="col-md-8 col-xs-9">
				<h3>
					<span class="text-bold">{{consultant.username}}</span>
					<span class="text-s" translate>{{consultant.program}}</span>&nbsp;
					<span class="text-s" translate>{{consultant.degree}}</span>
				</h3>
				
				<h3 class="text-bold school-zh" translate>{{consultant.school}}</h3>
				<h3 class="school-en">{{consultant.school}}</h3>	
			</div>
			<!--  div class="btn btn-default" translate>Change Consultant</div-->
		</div>
		
		<div class="col-xs-12"><span>{{'Send {0} a message' | translate | format:[consultant.username]}}</span>:</div>
		<div class="col-xs-12">
			<z-message-board opt="msgs.opt" data="msgs.data" msg="msg" on-send="onSubmitMsg()"></z-message-board>
		</div>
		
	</div><!-- .item-wizard -->
	
	<div class="col-md-4 col-xs-12">
		<div ng-show="bConsultant">
			<list opt="clients.opt" data="clients.data" on-select="onSelectClient(item)"></list>
		</div>
		<div class="btn btn-default" ng-click="redirectTo('booking')"translate>Booking</div>
	</div>
	
	
	<!-- div class="col-xs-4 col-sm-4 col-md-4">
        
        
        <div class="col-xs-12" style="margin-top:20px;"><span translate>My Documents</span>:</div>
		<div ng-repeat="d in docs.data" >
			<a href="{{d.fpath}}" download="{{d.fname}}" style="font-size:13px; padding-left:15px;">{{d.fname}}&nbsp;{{d.created}}</a>
		</div>
	</div-->
</div>
