<div id="listing-page" class="container page-content" ng-controller="documentController">
	<multi-steps opt="multiPages.opt" selected="multiPages.selected">
         <div class="multi-steps">
             <ul class="w-pager-holder">
              <li class="w-pager" data-index="1"><span></span><div class="step-title" translate>Choose Consultant</div></li>
              <li class="w-pager" data-index="2"><span></span><div class="step-title" translate>Upload Document</div></li>
              <li class="w-pager" data-index="3"><span></span><div class="step-title" translate>Pay Fee</div></li>
             </ul>

             <div class="w-page active" data-index="1">
	             <div class="w-page-content-lg">
					<div class="col-xs-3 filter-content">
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>School</span>:</div>
							<dropdown opt="schools.opt" data="schools.data" selected="schools.selected" on-select="onSelectSchool(text)"></dropdown>
						</div>
						
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>Program</span>:</div>
							<dropdown opt="programs.opt" data="programs.data" selected="programs.selected" on-select="onSelectProgram(text)"></dropdown>
						</div>
						<div class="z-panel">			
							<div class="panel-body filter-bottom-btn-holder" ng-class="{'fixed-bottom':bMobile}">
								<button class="btn btn-default" ng-click="resetFilter()" translate>Clear Filter</button>
							</div>
						</div>
					</div>
					
					<div class="col-xs-6 item-list-col" >
						<div class="consultant-list" ng-repeat="c in consultants">
							<div class="row">
								<div class="col-xs-2"><img src="{{getPhoto(c.picID)}}"/></div>
								<div class="col-xs-6">
									<h2>{{c.username}}</h2>
									<h3>
										<span translate>{{c.school}}</span>&nbsp;
										<span translate>{{c.program}}</span>&nbsp;
										<span translate>Master</span>
									</h3>
									<h4>{{c.nSuccessCases}} 
										<span translate>cases successful</span>&nbsp;&nbsp;&nbsp;
										<a translate ng-click="selectConsultant(c)">{{c.gender==="F" ? "Consult Her" : "Consult Him"}}</a>
									</h4>
								</div>
								<div class="col-xs-2">
								</div>
							</div>
						</div>			
						<!--  div item-list datas="items" curr-page="currPage" b-image="bImage" b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList"></div -->
					</div>
					<div class="col-xs-3 selected-consultant" ng-show="selectedConsultant.picID">
						<div class="row">
							<div class="col-xs-12">
								<img src="{{getPhoto(selectedConsultant.picID)}}"/>
							</div>
							<div class="col-xs-12">
								<h2>{{selectedConsultant.username}}</h2>
								<h3>
									<span translate>{{selectedConsultant.school}}</span>&nbsp;
									<span translate>{{selectedConsultant.program}}</span>&nbsp;
									<span translate>Master</span>
								</h3>
								<h4>{{selectedConsultant.nSuccessCases}} 
									<span translate>cases successful</span>&nbsp;&nbsp;&nbsp;
									<a translate ng-click="rmConsultant(selectedConsultant)"></a>
								</h4>
							</div>
						</div>
					</div>
					<div id="property-list-empty" class="col-xs-8" ng-show="false">
						<div class="large-title text-center" translate>No results found!</div>
						<div class="text-content text-center" translate>Remove filters and you are bound to find a space.</div>
						<button class="btn btn-primary center-block" ng-click="refineFilter()" translate>Refine Filter</button>
					</div>
					<div class="col-xs-12">
						<button class="btn btn-primary center-block" ng-click="next()" translate>Next</button>					
					</div>					
				</div>
			</div><!-- end of w-page -->
			
            <div class="w-page active" data-index="2">
            	<div class="row">
					<div class="col-xs-3">
						<div class="col-xs-12" style="margin-top:30px;" ng-repeat="t in types">            	
		            		<uploader opt="t" on-complete="onCompleteUpload()" on-before="onBeforeUpload(t)"></uploader>
		            	</div>
	            	</div>
	            	<div class="col-xs-9" style="margin-top:30px;">
	            		<div ng-repeat="d in docs.data" >
	<!-- 						<a href="{{d.fpath}}" download="{{d.fname}}" style="font-size:13px; padding-left:15px;">{{d.fname}}&nbsp;{{d.created}}</a> -->
							<span translate>{{d.type}}</span>:
							<a style="padding-left:15px;margin-top:10px;">{{d.fname}}&nbsp;{{d.created}}</a>
							<span class="glyphicon glyphicon-remove" ng-click="rmDoc(d)"></span>
						</div>
	            	</div>
            	</div>
            	<div class="col-xs-6">
            		<div class="pull-right">
            			<button class="btn btn-primary" ng-click="sample()" translate>Get Sample</button>
						<button class="btn btn-primary" ng-click="next()" translate>Pay Fee</button>
            		</div>
				</div>
            </div>
             	
             <div class="w-page active" data-index="3">
				
				<div class="row" ng-repeat="p in cart" >
					<div class="col-xs-8">
						<div class="col-xs-3"><span translate>{{p.type}}</span>:</div>
						<div class="col-xs-3"><span translate>{{p.fname}}</span></div>
						<div class="col-xs-3">{{p.price}}&nbsp;{{p.currency}}</div>
						<div class="col-xs-3"><span class="glyphicon glyphicon-remove" ng-click="rmDoc(p)"></span></div>
					</div>
				</div>
				<div class="col-xs-12">
					<div><span translate>Total</span>: {{getTotal()}}</div>
				</div>
				
				<div class="row" ng-show="!bConfirm">
					<img ng-click="goPaypal()" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">
				</div>
				<div class="row" ng-show="bConfirm">
					<button ng-click="confirm()">Confirm</button>
				</div>
             	
             	
<!--              	<form method=post action=https://api-3t.sandbox.paypal.com/nvp> -->
<!-- 					<input type=hidden name=USER value="{{paypal.username}}"> -->
<!-- 					<input type=hidden name=PWD value="{{paypal.password}}"> -->
<!-- 					<input type=hidden name=SIGNATURE value={{paypal.signature}}> -->
<!-- 					<input type=hidden name=VERSION value="124.0"> -->
<!-- 					<input type=hidden name=PAYMENTREQUEST_0_PAYMENTACTION value="Sale"> -->
<!-- 					<input name=PAYMENTREQUEST_0_AMT value=19.95> -->
<!-- 					<input type=hidden name=RETURNURL value="http://localhost:5003"> -->
<!-- 					<input type=hidden name=CANCELURL value="http://localhost:5003"> -->
<!-- 					<input type=submit name=METHOD value=SetExpressCheckout> -->
<!-- 				</form> -->
             </div>
             	
         </div>
     </multi-steps>
</div>
