<div class="col-xs-12 col-sm-12 col-md-12 footer hidden-xs">
	<div ng-controller="FooterController" class="container">
		<div class="col-xs-12 col-sm-12 col-md-5">
			<p class="footer-title">Westudents.ca</p>
			<br /> <a ng-click="openTermsPage()" translate>Privacy Policy</a> |
			<a href="" ng-click="openPrivacyPage()" translate>Terms Of Use</a>
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-2">
			<p>&nbsp;</p>
			<a href="" ng-click="openHomePage()" translate>Home</a><br /> <a
				href="" ng-click="openSignUpPage()" translate>Sign Up</a><br /> <a
				href="" ng-click="contact()" translate>About Us</a><br />
		</div>
		
		<div class="col-xs-6 col-sm-6 col-md-2">
			<p>&nbsp;</p>
			<a href="" ng-click="contact()" translate>Contact Us</a><br /> <a
				href="" translate>News</a><br /> <a href="" translate>Careers</a><br />
		</div>
		
		<div class="col-md-12">
			<span>&copy; 2014-2015 Westudents Inc.</span> 
			<span translate>All Rights Reserved</span>
			<span>Ontario, Canada, N6G 0C9</span>
		</div>
	</div>
</div><!-- end of footer -->