			<nav class="navbar navbar-default" style="margin-bottom:0px;background-color:#eee;height:64px;z-index:1900;">
				<div ng-controller="HeaderController" class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-menus" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> 
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
<!-- 					<div class="back-btn visible-xs-inline visible-sm-inline" ng-show="!bHomePage" ng-click="back()">
							<span class="glyphicon glyphicon-menu-left" style="height: 40px;"></span>
						</div> -->
						<a class="navbar-brand" ng-click="openHome()">
							<i class="glyphicon glyphicon-leaf"></i>&nbsp;Westudents
						</a>
					</div>
			
					<div class="navbar-collapse collapse nav-menus navbar-right" data-toggle="collapse" data-target=".nav-menus">
						<ul class="nav navbar-nav">
							<li><a ng-click="redirectTo('/')"><span class="nav-text" translate>Home</span></a></li>
							<li ng-show="isAdminLogin()"><a ng-click="redirectTo('admin')"><span class="nav-text" translate>Administrator</span></a></li>
							<li><a ng-click="redirectTo('dashboard')" ng-show="loggedIn"><span class="nav-text" translate>My Dashboard</span></a></li>
							<li><a ng-click="redirectTo('contact')"><span class="nav-text"translate>Contact Us</span></a></li>
							<li ng-hide="loggedIn"><a ng-click="redirectTo('login')"><span class="nav-text" translate>Login</span></a></li>
							<li ng-hide="loggedIn"><a ng-click="redirectTo('signup')"><span class="nav-text" translate>Sign Up</span></a></li>
							<!--li><a ng-click="showLanguageList()"><span translate>Change Language</span></a></li ng-show="bShowLanguageList"-->

							<li class="dropdown" ng-show="loggedIn">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<span style="line-height:32px;" translate>{{user.username}}</span>
									<span class="photo-area img-round-s">
										<img src="{{getPhoto(user)}}" class="photo-s"/>
									</span>
								</a>
								<ul class="dropdown-menu" role="menu" >
									<li ng-show="loggedIn"><a ng-click="redirectTo('profile')"><span translate>Edit Profile</span></a></li>
									<li ng-show="loggedIn"><a ng-click="logout()"><span translate>Logout</span></a></li>
								</ul>
							</li>

							<li class="dropdown hide">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<span translate>Language</span><span class=""></span>
								</a>
								<ul class="dropdown-menu" role="menu" >
									<li><a ng-click="changeLanguage('en')"><span>English</span></a></li>
									<li><a ng-click="changeLanguage('zh_CN')"><span>简体中文</span></a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- end of nav-menus -->
				</div>
			</nav>