<div>
	<div ng-show="showHome" class="page-content">
		<div class="container">
			<div class="col-xs-12" >
				<div class="">
					<div class="row" style="padding-left:0px;">
						<div class="col-xs-7" style="padding-left:0px;"><h1 translate>DIY My Canadian Study Documents</h1></div>
						<div class="col-xs-3" style="padding-left:0px;">Alpha测试</div>
					</div>
					<p class="lead" translate>Help you improve document</p>
					<br>
	
					<!-- div class="row">
						<div class="btn btn-primary" translate>How it works ?</div>
					</div-->
					
					<div class="row search-bar">
						<dropdown class="col-md-3 col-xs-7" style="padding-left:0px;padding-right:0px;" opt="schools.opt" data="schools.data" selected="schools.selected" on-select="onSelectSchool(item)"></dropdown>
						<dropdown class="col-md-2 col-xs-5" style="padding-left:0px;padding-right:0px;" opt="programs.opt" data="programs.data" selected="programs.selected" on-select="onSelectProgram(item)"></dropdown>
						<div class="btn btn-primary col-md-1 col-xs-12 search-btn" ng-click="search()" translate>Search</div>
					</div>
					
				</div><!-- end of jumbotron -->
			</div>
		</div>

		<!--  popup opt="sessionExpiry"-->

		<div class="row">
			<div class="text-xs col-md-12 text-center" style="margin-top:60px;"> {{userCount}} <span translate>Visitors</span></div>		
		</div>
	</div><!-- end of page-content -->
</div>
