<div ng-controller="PlanController">
	<multi-steps opt="multiPages.opt" selected="multiPages.selected">
         <div class="multi-steps">
             <ul class="w-pager-holder">
              <li class="w-pager" data-index="1"><span></span><div class="step-title" translate>Fill Application</div></li>
              <li class="w-pager" data-index="2"><span></span><div class="step-title" translate>Get Plan</div></li>
             </ul>

             <div class="w-page active" data-index="1">
	             <div class="container w-page-content-lg">
		
			<div class="col-sx-6 col-sm-6 col-md-6 wizard-container">
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Plan Year</span>:</div>
					<select class="form-control" ng-model="item.planYear" placeholder="{{'Time to go aboard'| translate }}">
						<option value="" disabled selected hidden translate>Plan Year</option>
						<option ng-repeat="py in planYears" translate>{{py}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Choose Major</span>:</div>
					<select class="form-control" ng-model="item.major" placeholder="{{'Choose Major'| translate }}">
						<option value="" disabled selected hidden translate>Choose Major</option>
						<option ng-repeat="cm in majors" translate>{{cm.title}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Master Type</span>:</div>
					<select class="form-control" ng-model="item.type" placeholder="{{'Master Type'| translate }}">
						<option value="" disabled selected hidden translate>Master Type</option>
						<option ng-repeat="t in types" translate>{{t.title}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Current Enrolled Status</span>:</div>
					<select class="form-control" ng-model="item.currEnroll" placeholder="{{'Current Grade'| translate }}">
						<option value="" disabled selected hidden translate>Current Enrolled Status</option>
						<option ng-repeat="ce in currEnrolls" translate>{{ce.title}}</option>
					</select>
					<div class="z-error"></div>
				</div>
			</div>
			
			<div class="col-sx-5 col-sm-5 col-md-5 wizard-container">
				<!--  div class="z-group">
					<div class="col-md-10 z-label"><span translate>Suggested School</span>:</div>
					<div ng-repeat="s in schools">
						<div class="row">
							<div class="col-md-12">
								<span translate>{{s.name}}</span>
								<span>{{s.name}}</span>
								<span class="glyphicon glyphicon-ok" ng-click="addSchool(s.id)"></span>
							</div>
						</div>
					</div>
				</div-->

				<div class="z-group">
					<div class="col-md-10 z-label"><span translate>Choose School</span>:</div>
					<input class="form-control" ng-model="item.school" placeholder="{{'Choose School'| translate }}" ng-click="openSchoolSelect()"/>
					<div class="z-error"></div>
				</div>
				<school-select schools="schools"></school-select>
				
				<div class="z-group" style="margin-top:60px;">
					<button class="btn btn-primary center-block lk-btn" ng-click="showSchedule()" translate>Free to Get Plan</button>
				</div>
			</div>
				</div>
			</div><!-- end of w-page -->


             <div class="w-page active" data-index="2">
	             <div class="w-page-content-lg">
					<div class="container">
						<div class="row" style="margin-top:15px;margin-bottom:10px;">
							<div class="col-xs-2">
								<drop-menu opt="addBtn"></drop-menu>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-primary lk-btn" ng-click="savePlan()" translate>Save My Plan</button>
							</div>
						</div>
						<gantt data="tasks"></gantt>
					</div>
				</div>
			</div><!-- end of w-page -->

		</div>
	</multi-steps>
	
</div>	