<div class="scrollable">
	<div class="scrollable-content legal-content">
	
<h2>Westudents Privacy Policy</h2>
<b>Updated: Oct 25, 2014</b>

<br><br>
<br><br> 

<b>1.&nbsp; General</b> <br><br>
This privacy policy describes the policy of  Westudents Canada regarding the collection, use, storage, sharing and protection of your personal information ("Privacy Policy"). This Privacy Policy applies to the www.Westudents.ca website ("Westudents") and all related websites, applications, services and tools where reference is made to this policy ("Services"), regardless of how you access the Services, including access through mobile devices. Marktplaats B.V. is the data controller. <br><br>

<b>Scope and consent:</b> By using Westudents and related Services, you give explicit consent to Westudents for the collection, use, disclosure and retention of your personal information by us, as described in this Privacy Policy and our Terms of Use. <br><br>

Westudents may change this Privacy Policy from time to time. We advise you to read it regularly. Substantial changes to our Privacy Policy will be announced on our Website. The amended Privacy Policy will be effective immediately after it is first posted on our Website. This Privacy Policy is effective as of July, 2014. <br><br>

Westudents is part of Westudents Inc. and is therefore bound to the global privacy standards of Westudents Inc. (Binding Corporate Rules). More information on how we handle your personal information and privacy can be found in the Westudents Binding Corporate Rules that you can access through the <a href="http://www.ebayprivacycenter.com/">Westudents Privacy Center</a>.<br><br>

<b>2.&nbsp; What personal information do we collect </b> <br><br>

You can visit our Website without registering for an account. When you decide to provide us with your personal information, you agree that such information is sent to and stored on our servers. We collect the following types of personal information: <br><br>

<b>Information we collect automatically:</b> When you visit our Website, use our Services and or reply to ads or other content, we automatically collect the information sent to us by your computer, mobile device or other equipment that provides access. This information includes, but is not limited to: <br><br>

<p>
</p><p>information from your interaction with our Website and Services, including, but not limited to, device ID, device type, geo-location information, computer and connection information, statistics on page views, traffic to and from www.Westudents.ca, referring URL, ad data, IP address and standard web log information; and<br><br>

</p><p>information we collect through cookies, web beacons and similar technologies. <br><br>

<b>Information you provide to us:</b> We collect and store any information you enter on our Website or that you provide to us when you use our Services. This information includes, but is not limited to: <br><br>

</p><p>information that you provide to us when you register for an account or for the Services that you use; <br><br>

</p><p>additional information that you may provide to us through social media sites or third party Services; <br><br>

</p><p>information provided in the context of dispute resolution, correspondence through our Website or correspondence that is sent to us; <br><br>

</p><p>information about your location and the location of your device, including your device's unique identifier information if you have enabled this service on your mobile device, and <br><br>

</p><p>your resume if you choose to submit it to us for consideration through our careers page <br><br>

<b>Information from other sources:</b> We may receive or collect additional information about you from third parties and add this to our account information. This information includes, but is not limited to: demographic data, navigation data, additional contact data and additional data about you from other sources, such as public authorities, to the extent permitted by law.<br><br>

<b>3.&nbsp; How we use your personal information </b><br><br>

You agree that we may use your personal information for the following purposes: <br><br>

</p><p>to provide you access to our Services and Customer Support by means of e-mail or telephone; <br><br>

</p><p>to prevent, detect and investigate potentially prohibited or illegal activities, fraud and security breaches and to enforce our Terms of Use; <br><br>

</p><p>to personalize, measure and improve our Services, content and ads; <br><br>

</p><p>to contact you, by e-mail, push notification, text message (SMS) or by telephone, to inquire about our Services and the services of companies that are part of the Westudents Inc. 'corporate family' (hereinafter referred to as the 'Westudents Group') for the purpose of targeted marketing activities, updates, and promotional offers based on your message preferences (where applicable), or for any other purposes as set forth in this Privacy Policy; <br><br>

</p><p>to provide you with other services that you have requested, as described when we collected the information, and <br><br>

</p><p>to consider you as a potential candidate if you choose to upload your resume through our careers page. <br><br>

<b>Sharing information with and registration on social media sites:</b> We may offer sign-on Services that enable you to access the Website or related websites with your login credentials. We can also offer Services that enable you to share information with third party social media websites, such as Facebook, Google Plus and Twitter. <br><br>

If you provide us access to personal information stored on third party websites, the scope of access to this personal information shall vary per website and will be determined by both your own browser settings and your consent. If you wish to connect your third party account to your Westudents account and you consent to us accessing the information in these third party accounts, you agree that we can collect, use and store information from this third party website in accordance with this Privacy Policy.  <br><br>

<b>Transfer of your personal information to third parties:</b> We may disclose your personal information to third parties in accordance with this Privacy Policy and applicable legislation and regulations. As further described under Section 4, we will not disclose your personal information to third parties for their marketing purposes without your explicit consent. We may share your personal information with: <br><br>

</p><p><u>companies of the Westudents Group</u> to provide joint content and services (such as registration and customer support), to prevent, detect and investigate possible illegal activities, violations of our policy, fraud and/or data security breaches, and to support decision making on products, websites, applications, services, tools and communication. The Westudents Group companies will only use this information to send you marketing messages when you yourself have requested their services, and they will use your personal information in accordance with their respective privacy policy. <br><br>

</p><p><u>service providers</u> with whom we have entered into an agreement to help us provide our Services on the website, such as financial service providers, marketing agencies and technical support. In such cases, the personal information shall remain under the control of Marktplaats B.V. <br><br>

</p><p><u>certain third parties</u> (such as intellectual property rights holders, supervisory authorities, tax authorities, police and other regulatory authorities) if we are required to do so by law, or in accordance with our Privacy Policy. We may share your personal information: <br><br>

&nbsp;&nbsp;&nbsp;&nbsp;-	to comply with legal obligations or a court order; or <br><br>

&nbsp;&nbsp;&nbsp;&nbsp;-	if this is necessary for the prevention, detection or prosecution of criminal offenses, such as fraud, deceit or &nbsp;&nbsp;&nbsp;&nbsp;prosecution, or <br><br>

&nbsp;&nbsp;&nbsp;&nbsp;-	if it is necessary to maintain our policies or to protect the rights and freedoms of others. <br><br>

</p><p><u>other third parties</u> to whom you have given consent to share your information via Westudents, e.g. in the framework of a cooperation; <br><br>
</p><p><u>companies</u> that we intend to merge with in the context of a reorganisation or that acquire us;  <br><br>

</p><p><u>an intellectual property owner</u> if the owner of an intellectual property right or an intermediary in good faith believes that an advertisement violates the rights of the owner. Before personal information is provided, the IP owner will enter into an agreement that, inter alia, stipulates that information is only provided on the strict condition that it may only be used in the context of legal proceedings and/or obtaining legal advice and/or to answer questions from the relevant advertiser <br><br>
</p>
Without limitation to the foregoing, we shall moreover - in our efforts to respect your privacy and to keep the website free of malicious persons or parties - not disclose your personal information to third parties without a court order or formal request from the government in accordance with applicable law, unless we believe in good faith that such disclosure is necessary to prevent impending injury or financial damages or to report alleged illegal activities. <br><br>

<b>Information you share on www.Westudents.ca:</b> Our Website allows users to share advertisements and other information with other users, thereby making this shared information accessible to other users. Since our Website also enables you to directly contact a buyer or seller, we recommend that you consider how you share your personal information with others. You are solely responsible for the personal information you share through our Website and therefore we cannot guarantee the privacy or security of the information shared by you with other users. <br><br>

In case you visit our Website from a shared computer or a computer in an internet restaurant, we strongly recommend that you log off after each session. If you do not want the shared computer to remember you and/or your credentials, you will need to remove cookies and/or the history of your website visits. <br><br>

<b>4.&nbsp; Marketing Purposes </b> <br><br>

You agree that we may use the information collected by us to send you offers, whether personalised or not, or to contact you by telephone regarding products or Services offered by Westudents or companies of the Westudents Group. <br><br>

We will not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine your information with information we collect from other companies and use it to improve and personalize our Services and functionalities. <br><br>

When you no longer wish to receive marketing communications from us, you can, where applicable, change your preferences in your <a href="https://secure.Westudents.ca/toronto/s-SignIn?rup=ManageMyAds">My Westudents</a> account, or follow the unsubscribe link in the marketing communication you received. <br><br>

<b>5.&nbsp; Cookies </b> <br><br>

When you use our Services, we and our service providers may place cookies (data files on your phone or mobile device's drive) or web beacons (electronic images that are placed in a web page's code) or similar technologies. We use cookies to help us identify you as a user, to provide you a better experience on our Website, to measure promotional effectiveness and to ensure trust and safety on our Website. For more detailed information about our use of these technologies, we refer you to our Policy on <a href="https://www.westudents.ca">Cookies, Web beacons and Similar Technologies.</a><br><br>

<b>6.&nbsp; Accessing, Reviewing and Changing Your Personal Information </b> <br><br>

We cannot modify your personal information or account information. You can modify your own information by logging into your Westudents account. When you place a classified ad, you may not be able to change your listing or delete your message. If you want to close your account (where applicable) with us, please send us a request to us <a href="https://westudents.ca">here</a>. We will process your request within a reasonable period of time and process your personal information in accordance with applicable law. Alternatively, you can also contact <a href="http://www.westudents.ca">Customer Support</a> to access your personal information stored by us that is not directly accessible on Marktplaats, unless Marktplaats is not required to provide access under the Dutch Data Protection Act. We may charge a fee to compensate costs; however the fee shall not exceed the amount permitted by law. If your information is factually incorrect or incomplete or irrelevant for the purposes for which we process your information, you can request us to modify or delete your information. Such requests will be handled in accordance with the Dutch Data Protection Act. If you have any questions, please contact us with the subject line 'Request Privacy Policy': <br><br>

-	via the <a href="https://westudents.ca">Contact Form</a>; or <br><br>
-	by writing to Marktplaats BV, Attention: Westudents Canada Customer Support, Wibautstraat 224, 1097 DN Amsterdam, the Netherlands. <br><br>

<b>7.&nbsp; Protection and retention of your personal information </b> <br><br>

We protect your information by using technical and administrative security measures (such as firewalls, data encryption, and physical and administrative access controls to the data and servers) that limit the risk of loss, abuse, unauthorised access, disclosure, and alteration. Nevertheless, if you believe your account has been abused, please contact us through the <a href="https://westudents.ca">Contact Form</a>.<br><br>

We retain personal information no longer than is legally permissible and delete personal information when it is no longer necessary for the purposes as described above. <br><br>

<b>8.&nbsp; Other information </b> <br><br>

<b>Abuse and unsolicited commercial communications ("spam"):</b> We do not tolerate abuse of our Website. You do not have permission to add other Westudents users to your mailing list (e-mail or postal) for commercial purposes, even if a user has purchased something from you, unless the user has given his explicit consent. If you notice that someone is abusing our Website (spam or spoof emails), please notify us <a href="https://westudents.ca">here</a>.<br><br>

It is not allowed to use our member-to-member communication resources to send spam or content that violates our Terms of Use in any other way. For your security, we may scan messages automatically and check for spam, viruses, phishing and other malicious activity or illegal or prohibited content. We do not permanently store messages sent through these resources. <br><br>

<b>Third Parties:</b> Unless explicitly provided otherwise in this Privacy Policy, this Privacy Policy applies only to the use and transfer of information we collect from you. Westudents has no control over the privacy policies of third parties that may apply to you. When we work with third parties or use third party tools to provide certain services, we will explicitly indicate which privacy policy applies to you. We therefore encourage you to ask questions before you disclose your personal information to others. <br><br>

<b>Contact:</b> If you have any questions about Westudents and our Website please contact us by clicking <a href="https://westudents.ca">here</a>. For more information about Westudents Inc. and how Westudents handles personal information and privacy, you can contact the <a href="http://westudents.ca">Westudents Privacy Center</a>. </ol></ol>

	</div>
</div>