<div class="container" ng-controller="ProfessorController" style="margin-top:20px;">

	
	
		<multi-steps opt="multiPages.opt" selected="multiPages.selected">
         <div class="multi-steps">
             <ul class="w-pager-holder">
              <li class="w-pager" data-index="1"><span></span><div class="step-title" translate>Choose Consultant</div></li>
              <li class="w-pager" data-index="2"><span></span><div class="step-title" translate>Upload Document</div></li>
              <li class="w-pager" data-index="3"><span></span><div class="step-title" translate>Pay Fee</div></li>
             </ul>

             <div class="w-page active" data-index="1">
	             <div class="w-page-content-lg">
					<div class="col-xs-4 filter-content">
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>School</span>:</div>
							<div class="" ng-repeat="s in schools">
								<a class="" value="{{s.id}}" translate>{{s.name}}</a>
							</div>
						</div>
						
						<div class="z-group">
							<div class="col-xs-12 z-label"><span translate>Program</span>:</div>
							<div class="" ng-repeat="p in programs">
								<a class="" value="{{p.id}}" translate>{{p.name}}</a>
							</div>
						</div>
						<div class="z-panel">			
							<div class="panel-body filter-bottom-btn-holder" ng-class="{'fixed-bottom':bMobile}">
								<button class="btn btn-default" ng-click="resetFilter()" translate>Clear Filter</button>
							</div>
						</div>
					</div>
					
					<div class="col-xs-8 item-list-col" >
						<div class="consultant-list" ng-repeat="c in consultants">
							<div class="row">
								<div class="col-xs-2"><img src="{{getPhoto(c.photoID)}}"/></div>
								<div class="col-xs-7">
									<h2>{{c.name}}</h2>
									<h3>
										<span translate>{{c.school}}</span>&nbsp;
										<span translate>{{c.program}}</span>&nbsp;
										<span translate>{{c.degree}}</span>&nbsp;
										(<span translate>{{c.current}}</span>)
									</h3>
									<h4>{{c.nSuccessCases}} cases successful</h4>
								</div>
								<div class="col-xs-3">
									<button class="btn btn-primary" translate>{{c.gender==="F" ? "Consult Her" : "Consult Him"}}</button>
								</div>
							</div>
						</div>			
						<!--  div item-list datas="items" curr-page="currPage" b-image="bImage" b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList"></div -->
					</div>
					
					<div id="property-list-empty" class="col-xs-8" ng-show="false">
						<div class="large-title text-center" translate>No results found!</div>
						<div class="text-content text-center" translate>Remove filters and you are bound to find a space.</div>
						<button class="btn btn-primary center-block" ng-click="refineFilter()" translate>Refine Filter</button>
					</div>
					
					
				</div>
			</div><!-- end of w-page -->
			
            <div class="w-page active" data-index="2">
            
            	<div translate>Professor Description</div>
	
				<div>
					<div class="z-group">
						<div class="col-md-10 z-label"><span translate>Choose Major</span>:</div>
						<select class="form-control" ng-model="item.major" placeholder="{{'Choose Major'| translate }}">
							<option value="" disabled selected hidden translate>Choose Major</option>
							<option ng-repeat="cm in majors" translate>{{cm.title}}</option>
						</select>
						<div class="z-error"></div>
					</div>
					
					<div class="z-group">
						<div class="col-md-10 z-label"><span translate>Master Type</span>:</div>
						<select class="form-control" ng-model="item.type" placeholder="{{'Master Type'| translate }}">
							<option value="" disabled selected hidden translate>Master Type</option>
							<option ng-repeat="t in types" translate>{{t.title}}</option>
						</select>
						<div class="z-error"></div>
					</div>
					
					<div class="z-group">
						<div class="col-md-10 z-label"><span translate>Current Enrolled Status</span>:</div>
						<select class="form-control" ng-model="item.currEnroll" placeholder="{{'Current Grade'| translate }}">
							<option value="" disabled selected hidden translate>Current Enrolled Status</option>
							<option ng-repeat="ce in currEnrolls" translate>{{ce.title}}</option>
						</select>
						<div class="z-error"></div>
					</div>
				</div>
            
            	<div class="col-xs-3" style="margin-top:30px;"></div>
				<div class="col-xs-8" style="margin-top:30px;">            	
            		<uploader opt="ps"></uploader>
            	</div>
            </div>
             	
             <div class="w-page active" data-index="3">
				<div class="row" ng-repeat="p in products" ng-show="!bConfirm">
					<div class="col-xs-5">
						<div>{{p.price}}&nbsp;{{p.currency}}</div>
						<div><span translate>{{p.name}}</span> ( <span translate>Review 3 Times</span> )</div>
					</div>
					<div class="col-xs-5">
						<button ng-click="addToCart(p)" translate>Add to Cart</button>
					</div>
				</div>
				
				
				<div class="row" ng-repeat="p in cart" >
					<div class="col-xs-8">
						<div class="col-xs-4"><span translate>{{p.name}}</span></div>
						<div class="col-xs-4">
							<span translate>Quantity</span>:
							<input type=text value="{{p.quantity}}" style="width:30px;"/>
						</div>
						<div class="col-xs-4">{{p.price}}&nbsp;{{p.currency}}</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div><span translate>Total</span>: {{getTotal()}}</div>
				</div>
				
				<div class="row" ng-show="!bConfirm">
					<img ng-click="goPaypal()" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">
				</div>
				<div class="row" ng-show="bConfirm">
					<button ng-click="confirm()">Confirm</button>
				</div>
             </div>
             	
         </div>
     </multi-steps>
	
	
	
</div>
