<div class="container page-content">

	<!-- The detail column occupies 2/3 with for desktop and tablet, full with for mobile -->
	<div class="col-xs-12 col-sm-12 col-md-8 detail-col">
	
		<h3 class="panel-title address-title">
			<div class="address-text">{{ item.address }},&nbsp;{{ item.city }},&nbsp;{{item.province}}</div>
        </h3>
    	
	
		<div lk-tabs id="item-detail-tabs" tabs="detailTabs" group-name="detailTabGroupName" selected-tab-name="selectedTab" ng-show="bMobile"></div>
		
		<div class="tab-xx">
			<div name="photos" ng-show="isTabSelected('photos')" class="tab-pane detail-tabs" default="active">
				<div class="image-viewer">
				  <div lk-image-viewer datas="pictures" selected-image="selectedImage" thumbnail="bThumbnail"></div>
				</div>
			</div>
			<div name="maps" ng-show="isTabSelected('maps')" class="tab-pane detail-tabs">
				<div ng-controller="mapViewController">
					<div id="mobile-map"></div>
		    	</div>
			</div>
		</div>
	
        
		<div style="padding: 12px 10px 0 10px;">
			<div class="detail-title"><span translate>Description</span>:</div>
			<div class="detail-text">
				<p ng-bind-html="item.description"></p>
			</div>
			<div class="detail-title"><span translate>Price</span>:</div>
			<div class="detail-text">${{item.price}} CAD</div>
			<div class="detail-title"><span translate>City</span>:</div>
			<div class="detail-text">{{item.city}}&nbsp;{{item.province}}</div>
			<div class="detail-title"><span translate>Furnished</span>:</div>
			<div class="detail-text">{{ getFurnished(item) }}</div>
			<!--  div class="detail-title">Pet Friendly:</div>
			<div class="detail-text">{{ getPetFriendly(item) }}</div -->
		</div>
	</div>
	
	<!-- The side column occupies 1/3 with for desktop and tablet, full with for mobile -->
	<div class="col-xs-12 col-sm-12 col-md-4 hidden-xs">
		<div class="panel panel-info">
			<div class="panel-heading">
		        <h3 class="panel-title" translate>Contact Owner</h3>
		    </div>
		    
		    <div class="panel-body">
				<div class="col-md-12" ><span translate>Email</span>: &nbsp;{{item.email}}</div>
				<div class="col-md-12" ><span translate>Phone</span>: {{item.phone}}</div>
			</div>
		</div>
		
		<div class="panel panel-info" ng-hide="bMobile">
			<div class="panel-heading">
				<div class="col-md-4">
					<h3 class="panel-title" translate>Map</h3>
				</div>
		        <div class="col-md-6 pull-right large-map-btn" ng-click="openMapDialog()" >
		        	<!--  i class="fa fa-arrows-alt"></i -->
		        	&nbsp;
		        	<span class="icon-text" translate>Enlarge Map</span>
		        </div>
		    </div>
		    
		    <div class="panel-body">
				<div id="map-canvas"></div>
		    </div>
		</div>
		
		<script type="text/ng-template" id="map-dialog.html">
		      <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		            <h4 class="modal-title">Map</h4>
		      </div>
		      <div class="modal-body">
					<div>
						<div id="map-canvas2"></div>
				    </div>
		      </div>
		      <div class="modal-footer">
		            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
		      </div>
		</script>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-4 pull-left hidden-xs"><span translate>My Search Results</span>:</div>

	<div class="col-xs-12 col-sm-12 col-md-4 narrow-list hidden-xs" item-list datas="items" curr-page="currPage" b-image="bImage" 
		b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList">
	</div>
	
</div>
