<div id="listing-page" class="container page-content" ng-controller="schoolListController">	
	<div class="col-xs-12 col-sm-12 col-md-4 filter-col" >	
		<div class="z-panel">
			<h3 class="panel-title"><span translate>School Type</span>:</h3>
			<div class="panel-body">
				<div class="z-btn-group">
				  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(1)" ng-class="{active:propertyType==1}" translate>Public</div>
				  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(0)" ng-class="{active:propertyType==0}" translate>Private</div>
				</div>
			</div>
		</div>
		
		<div class="z-panel">
			<h3 class="panel-title"><span translate>按学校</span>:</h3>
			<div class="filter-list" ng-repeat="s in schools">
				<a class="filter-item" ng-model="school" value="{{s.id}}" translate>{{s.name}}</a>
			</div>
		</div>
		
		<div class="z-panel">
			<h3 class="panel-title"><span translate>按专业</span>:</h3>
			<div class="filter-list" ng-repeat="p in programs">
				<a class="filter-item" ng-model="program" value="{{p.id}}" translate>{{p.name}}</a>
			</div>
		</div>
		
		<div class="z-panel filter-btn-panel" ng-show="bMobile && !bEmpty">
			<div class="panel-body filter-btn-holder"><!-- ng-class="{'fixed-top':bMobile}" -->
				<!--  button class="btn btn-primary" ng-click="resetFilter()" ng-show="bFilter" translate>Clear Filter</button -->
				<button class="btn btn-primary" ng-click="toggleFilter()" ng-show="!bFilter" translate>Filter</button>
			</div>
		</div>
	
		<div class="filter-content" ng-show="bFilter">
			<!--  div class="z-panel">
				<h3 class="panel-title"><span translate>Change Location</span>:</h3>
				<div class="panel-body">
					<div id="city-search-input" lk-search-box search-icon="bSearchIcon" item-data="searchboxSelected" placeholder-text="placeholderVal"></div>
				</div>
			</div -->
			
			<!-- university list panel -->
			<div class="z-panel" ng-show="bUniversity">
				<h3 class="panel-title"><span translate>University</span>:</h3>
				<div class="panel-body" id="school-list">
					<div class="radio">
						<div ng-repeat="school in schools" ng-click="filterBySchool(school)">
							<label>
								<input type="radio" name="schoolsRadios" ng-model="currentSchool" value="{{school.name}}"> {{school.name}}
							</label>
						</div>
					</div>
				</div>
			</div>
			<!-- end of university list panel -->
			
			<div class="z-panel">			
				<div class="panel-body filter-bottom-btn-holder" ng-class="{'fixed-bottom':bMobile}">
					<button class="btn btn-default" ng-click="resetFilter()" translate>Clear Filter</button>
					<button class="btn btn-primary" ng-click="applyFilter()" translate>Apply Filter</button>
				</div>
			</div>
		</div><!-- end of filter-content -->
			
	</div><!-- end of filter-col -->
	
	<div class="col-xs-12 col-sm-12 col-md-8 item-list-col" ng-hide="bMobile && bFilter || bEmpty">
		<div class="school-list" ng-repeat="s in schools">
			<div class="row">
				<div class="col-xs-4"><img src="{{getImage(s.imageID)}}"/></div>
				<div class="col-xs-5">
					<h2>{{s.name}}</h2>
					<h1 translate>{{s.name}}</h1>
					<div translate>{{s.type}}</div>
				</div>
				<div class="col-xs-3">
					<button class="apply-now" translate>Apply Now</button>
				</div>
			</div>
		</div>			
		<!--  div item-list datas="items" curr-page="currPage" b-image="bImage" b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList"></div -->
	</div>
	
	<div id="property-list-empty" class="col-xs-12 col-sm-12 col-md-8" ng-show="bEmpty">
		<div class="large-title text-center" translate>No results found!</div>
		<div class="text-content text-center" translate>Remove filters and you are bound to find a space.</div>
		<button class="btn btn-primary center-block" ng-click="refineFilter()" translate>Refine Filter</button>
	</div>
</div>
