<div class="page-content scrollable">
	<div class="col-xs-12 col-sm-12 col-md-12 dialog-area">
		<form class="form-content" ng-controller="SignupConsultantController">
		
			<div class="title-area col-xs-12 col-sm-12 col-md-12 large-title" translate>New Consultant</div>
			
			<div class="col-xs-6">
				<div class="z-group" name="username">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="{{'Username' | translate }}" ng-model="c.username"/>
					</div>
					<div class="z-error">{{error.username}}</div>
				</div>
			
				<div class="z-group" name="password">
					<div class="input-group">
						<input class="form-control" type="password" placeholder="{{'Password' | translate }}" ng-model="c.password"/>
					</div>
					<div class="z-error">{{error.password}}</div>
				</div>
			
				<div class="z-group" name="email">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="{{'Email' | translate }}" ng-model="c.email"/>
					</div>
					<div class="z-error">{{error.email}}</div>
				</div>
				
				<div class="z-group">
					<select class="form-control" ng-model="c.program" placeholder="{{'Choose Major'| translate }}" style="width:196px;">
						<option value="" disabled selected hidden translate>Choose Major</option>
						<option ng-repeat="p in programs" translate>{{p.name}}</option>
					</select>
					<div class="z-error"></div>
				</div>
				
				<div class="z-group">
					<select class="form-control" ng-model="c.school" placeholder="{{'Choose School'| translate }}" style="width:196px;">
						<option value="" disabled selected hidden translate>Choose School</option>
						<option ng-repeat="s in schools" translate>{{s.name}}</option>
					</select>
					<div class="z-error"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<input ng-model="c.picID" hidden/>
				<img src="{{getPhoto(c.picID)}}" style="width:96px;height:96px;"/>
			</div>
			
<!-- 			<img ng-repeat="pic in pics" src="{{getPhoto(pic)}}" ng-click="selectPic(pic)" class="portrait portrait-{{pic}}" style="width:60px;height:60px;"/>
 -->			
			<div class="col-xs-12 col-sm-12 col-md-10 btn-holder">
				<button type="submit" name="signup" class="btn btn-primary" ng-click="signUp()" translate>Create Account</button>
			</div>
		</form>

	</div>
</div>
