<div ng-controller="UserProfileController" class="col-xs-12" style="margin-top:30px;">            	
	<uploader opt="uploader" on-complete="onCompleteUpload()" on-before="onBeforeUpload(data)"></uploader>

	<img alt="Photo" src="{{photo.src}}" style="width:128px;height:160px;">
</div>