<div class="row w-row z-check-box">
    <div style="margin-right:10px;float:left;">
        <span class="glyphicon glyphicon-check" ng-show="opt.bCheck" ng-disable="!opt.bEnable"></span>
        <span class="glyphicon glyphicon-unchecked" ng-hide="opt.bCheck" ng-disable="!opt.bEnable"></span>
    </div>
    <div translate>{{opt.title}}</div>
</div>
