<select class="form-control z-dropdown" ng-model="selected.val" placeholder="{{ opt.placeholder | translate }}">
	<option value="" translate>{{opt.placeholder}}</option>
	<option ng-repeat="d in data" value="{{d._id}}" translate>{{d.name}}</option>
</select>