<div class="{{opt.type}}">
  <button class="btn btn-primary dropdown-toggle" type="button" id="{{opt.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span translate>{{opt.text}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="{{opt.id}}">
    <li ng-repeat="d in opt.data"><a translate>{{d}}</a></li>
  </ul>
</div>