<div class='row gantt'>
	<table class="table-head">
		<tbody>
			<tr>
				<td class="title" translate>Task</td>
				<td class="start-time" translate>Start Time</td>
				<td class="end-time" translate>End Time</td>
				<td class="interval" ng-repeat="m in months" translate>{{m}}</th>
			</tr>
		</tbody>
	</table>
		<table class="task-table">
			<tbody class="table-body">
				<tr ng-repeat="t in data" ng-click="select(t)" class="row-{{t.id}}">
					<td class="title">
						<span ng-show="t.parent==0" class="glyphicon glyphicon-triangle-bottom"></span>
						<span translate>{{t.title}}</span>
					</td>
					<td class="start-time" translate>{{t.start}}</td>
					<td class="end-time" translate>{{t.end}}</td>
					
					<td class="wrapper item-wrapper-{{t.id}}">
						<div class="duration item-{{t.id}}"></div>
					</td>
				</tr>
			</tbody>
		</table>
</div>