<div class="list" style="margin-top:0px;">
	<ul>
		<li class="row row-{{d[opt.valueField]}}" ng-repeat="d in data" style="line-height:24px; border-bottom:1px solid #eee;" ng-click="select(d)">
			<div style="float:left;width:{{col.w}}px; height:22px;" ng-repeat="col in opt.cols">
				<div style="padding-right:10px;">{{d[col.field]}}</div>
			</div>
		</li>
	</ul>
</div>