<div>
    <!--  div translate>{{opt.title}}</div-->
    
    <div class="col-xs-12" style="padding:0px;">
    	<div class="send-box">
    		<textarea rows="4" ng-model="msg.text" placeholder="{{'Question' | translate}}" style="border:0px;width:100%;height:100%;"></textarea>
    	</div>
    
        <!-- textarea class="form-control" rows="3" ng-model="msg.text" placeholder="{{'Question' | translate}}"></textarea>
        <div ng-hide="{{opt.error==''}}" class="col-xs-12 z-error">{{opt.error}}</div-->
    </div>

	<div class="col-xs-4" style="padding-top:15px;">
		<div class="photo-area img-round">
			<img src="../{{opt.from.photo}}" style="width:64px;height:64px;float:left;"/><!--  src="{{getPhoto(consultant.picID)}}" /-->
		</div>
    </div>
    <div class="col-xs-8" style="padding-top:15px;">
        <button class="btn btn-primary" type="submit" ng-click="submit()" translate>Send Message</button>
    </div>
    
    <div class="col-xs-12" style="padding-left:0px;padding-right:0px;"><!--  message-list -->
    	<ul class="z-dialog">
	        <li ng-repeat="m in data" class="row">
	        	<div class="{{getDirection(m)}}-portrait col-xs-2">
		        	<div class="{{getDirection(m)}}-dialog-photo img-round">
		        		<img src="{{getPhoto(m)}}"/>
		        	</div>
	        	</div>
	        	<div class="{{getDirection(m)}}-dialog col-xs-10">
			        <div class="{{getDirection(m)}}-dialog-box">
			            <div class="dialog-heading">{{m.dt}}</div>
			            <div class="dialog-body">{{m.text}}</div>
			        </div>
		        </div>
	        </li>
        </ul>
    </div>


</div>