<popup opt="opt">
<div class="col-xs-12 col-sm-12 col-md-12 dialog-area">

	<div class="col-xs-12 col-sm-12 col-md-4 filter-col" >
	
		
		<div class="z-panel">
			<h3 class="panel-title"><span translate>School Type</span>:</h3>
			<div class="panel-body">
				<div class="z-btn-group">
				  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(1)" ng-class="{active:propertyType==1}" translate>Public</div>
				  <div class="col-xs-6 col-sm-6 col-md-6 z-btn" ng-click="togglePropertyType(0)" ng-class="{active:propertyType==0}" translate>Private</div>
				</div>
			</div>
		</div>
		
		<div class="z-panel">
			<h3 class="panel-title"><span translate>Programs</span>:</h3>
			<div class="filter-list" ng-repeat="p in programs">
				<a class="filter-item" ng-model="program" value="{{p.id}}" translate>{{p.name}}</a>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-7 item-list-col">
	
	<div class="z-panel" style="margin-left:20px;">
		<input placeholder="Search School"/>
	</div>
	
		<div class="school-list" ng-repeat="s in schools">
			<div class="row">
				<div class="col-xs-4">
					<!--  img src="{{getImage(s.imageID)}}"/-->
				</div>
				<div class="col-xs-8">
					<div>{{s.name}}</div>
					<div translate>{{s.name}}</div>
					<!--  div translate>{{s.type}}</div-->
				</div>
				<!--  div class="col-xs-3">
					<button class="apply-now" translate>Apply Now</button>
				</div-->
			</div>
		</div>			
		<!--  div item-list datas="items" curr-page="currPage" b-image="bImage" b-price="bPrice" b-date="bDate" b-narrow-list="bNarrowList"></div -->
	</div>
			
	<div class="col-xs-12 col-sm-12 col-md-10 btn-holder">
		<button type="submit" name="signup" class="btn btn-primary" ng-click="selectSchool()" translate>Choose</button>
	</div>

</popup>