<div class="z-tile">
	<div class="col-xs-6 profile">
		<div class="col-xs-5" style="padding-left:0px;">
			<img src="{{opt.img}}"/>
		</div>
		<div class="col-xs-7" style="padding-left:0px; padding-top:10px;">
			<div>{{opt.username}}</div>
			<div>{{opt.minutes}} <span translate>minutes ago</span></div>
		</div>

	</div>
	<div class="col-xs-6 tile-school" style="padding-top:10px;">
		<div>
			<span translate>{{opt.school}}</span>&nbsp;
			<span translate>{{opt.enroll}}</span>&nbsp;
		</div>
		<div>
			<span translate>Milestone</span>:<span translate>{{opt.task}}</span>&nbsp;
			<span translate>{{opt.status}}</span>
		</div>
	</div>
	<div class="col-xs-12 message">{{opt.message}}</div>
	<a class="col-offset-xs-8 col-xs-3 pull-right">{{opt.nComments}} <span translate>Comments</span></a>
</div>