<div>
    <ul class="timeline">
        <li class="timeline-{{d.direction}}" ng-repeat="d in data">
          <div class="timeline-badge"><i class="glyphicon glyphicon-{{d.icon}}"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" translate>{{d.title}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{d.time}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{d.description}}</p>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
    </ul>
</div>