<div class="uploader">
<!-- 	<div class="z-label"> -->
<!-- 		<span translate>{{opt.title}}</span>: -->
<!-- 		<span>{{file.name}}</span> -->
<!-- 	</div> -->
	
	<label for="file-upload" class="file-upload">
    	<span class="glyphicon glyphicon-upload"></span>
    	<span translate>Upload</span>
    	<span translate>{{opt.title}}</span>
	</label>
	
    <div class="">
    	<input type="file" class="upload-input" name="ps" onchange="angular.element(this).scope().fileChanged(this)"/>
    </div>
    <!--  div class="progress-bar">
    	<div progressbar animate="true" max="100" value="progressVal" type="success"><b>{{progress.val}}%</b></div>
    </div-->
    
    <!--  <button class="btn btn-primary" ng-click="upload()" translate>Upload</button>-->
</div>
